.articleNewsItem .image {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center; }

.articleNewsItem {
  color: #ffffff; }
  @media (min-width: 320px) and (max-width: 767px) {
    .articleNewsItem .articleNewsItemContent {
      padding: 0 25px;
      margin-bottom: 40px; } }
  .articleNewsItem .image {
    width: 100%;
    height: 357px; }
    @media (min-width: 320px) and (max-width: 767px) {
      .articleNewsItem .image {
        height: 210px; } }
  .articleNewsItem .text {
    margin: 35px 0 0 0;
    float: left;
    width: 50%;
    padding-right: 2%; }
    @media (min-width: 320px) and (max-width: 767px) {
      .articleNewsItem .text {
        width: 100%;
        padding-right: 0;
        float: none; } }
    .articleNewsItem .text h1 {
      font-size: 26px;
      margin-bottom: 25px; }
    .articleNewsItem .text .content {
      font-size: 12px;
      line-height: 20px; }
      .articleNewsItem .text .content img {
        margin: 12px 0;
        max-width: 100% !important; }
  .articleNewsItem .info {
    color: #808080;
    font-size: 12px;
    line-height: 1.5;
    float: left;
    margin-top: 35px;
    width: 50%;
    padding-top: 10px; }
    @media (min-width: 320px) and (max-width: 767px) {
      .articleNewsItem .info {
        width: 100%;
        float: none; } }
    .articleNewsItem .info .date {
      float: left;
      font-size: 12px; }
    .articleNewsItem .info .comments {
      float: left;
      margin-left: 20px; }
    .articleNewsItem .info .commentsAmount {
      margin-left: 5px; }
    .articleNewsItem .info .commentariesWrapper {
      padding-top: 20px; }
      .articleNewsItem .info .commentariesWrapper .commentaryItem {
        padding: 20px 0;
        border-bottom: 1px solid #1a1a1a; }
        .articleNewsItem .info .commentariesWrapper .commentaryItem .author {
          color: #ffffff;
          font-size: 16px;
          margin-bottom: 10px; }
        .articleNewsItem .info .commentariesWrapper .commentaryItem .content {
          color: #ffffff;
          font-size: 12px;
          line-height: 1.6;
          margin-bottom: 5px; }
      .articleNewsItem .info .commentariesWrapper .commentaryItem:first-child {
        border-top: 1px solid #1a1a1a; }
    .articleNewsItem .info .addCommentary {
      width: 100%;
      position: relative;
      margin: 0 auto;
      color: #FFFFFF; }
      .articleNewsItem .info .addCommentary h1 {
        font-size: 26px;
        margin: 0 0 20px; }
      .articleNewsItem .info .addCommentary textarea {
        width: 100%;
        background: none;
        border: 2px solid #ffffff;
        box-sizing: border-box;
        padding: 10px;
        color: #FFFFFF;
        line-height: 1.4; }
        .articleNewsItem .info .addCommentary textarea:disabled {
          border: 2px solid #333333; }
      .articleNewsItem .info .addCommentary .transparentBordered {
        font-size: 16px;
        color: #ffffff;
        margin-top: 10px;
        border: none;
        padding: 0; }
        .articleNewsItem .info .addCommentary .transparentBordered:hover {
          cursor: pointer;
          color: #c49a6c;
          text-decoration: underline; }
        .articleNewsItem .info .addCommentary .transparentBordered:disabled {
          color: #333333;
          border: none; }
          .articleNewsItem .info .addCommentary .transparentBordered:disabled:hover {
            background: none;
            cursor: default; }
      .articleNewsItem .info .addCommentary .authBtn {
        float: left;
        margin-right: 10px; }
      .articleNewsItem .info .addCommentary button.transparentBordered {
        float: right;
        margin-top: 15px; }
  .articleNewsItem .buttons {
    margin: 77px 0 0 0;
    text-align: center; }
    .articleNewsItem .buttons .transparentBordered {
      font-size: 16px;
      /*			padding: 3px 9px;*/
      /*			border: 2px solid #ffffff;*/
      color: #ffffff;
      -webkit-transition: all 0.2s ease-in-out 0s;
      -moz-transition: all 0.2s ease-in-out 0s;
      transition: all 0.2s ease-in-out 0s; }
      .articleNewsItem .buttons .transparentBordered:hover {
        cursor: pointer;
        /*				background: #ffffff;*/
        color: #c49a6c;
        /*				border-color: #000000;*/ }

.articleExpertItem .text h1 {
  margin-bottom: 15px; }
.articleExpertItem h2.author {
  color: #c49a6c;
  margin-bottom: 43px; }
.articleExpertItem .info {
  margin-top: 130px; }
.articleExpertItem .buttons {
  text-align: left; }
.articleExpertItem .askExpertWrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1; }
  .articleExpertItem .askExpertWrapper h1 {
    font-size: 26px;
    margin-bottom: 50px; }
  .articleExpertItem .askExpertWrapper .askExpertBackground {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); }
  .articleExpertItem .askExpertWrapper .closeAskExpertBtn {
    position: absolute;
    top: 15px;
    right: 15px;
    width: 19px;
    height: 19px;
    opacity: 0.8;
    -webkit-transition: opacity 150ms ease-in-out 0s;
    -moz-transition: opacity 150ms ease-in-out 0s;
    transition: opacity 150ms ease-in-out 0s; }
    .articleExpertItem .askExpertWrapper .closeAskExpertBtn:hover {
      cursor: pointer;
      opacity: 1; }
  .articleExpertItem .askExpertWrapper .askExpertFormWrap, .articleExpertItem .askExpertWrapper .askExpertErrorWrap {
    position: absolute;
    width: 610px;
    background: #000;
    left: 50%;
    top: 50%;
    margin-top: -154px;
    margin-left: -305px;
    color: #FFFFFF;
    padding: 35px 125px;
    text-align: center;
    box-shadow: 0 0 50px 20px rgba(60, 60, 60, 0.75);
    -webkit-transition: box-shadow 150ms ease-in-out 0s;
    -moz-transition: box-shadow 150ms ease-in-out 0s;
    transition: box-shadow 150ms ease-in-out 0s; }
    .articleExpertItem .askExpertWrapper .askExpertFormWrap .askExpertForm, .articleExpertItem .askExpertWrapper .askExpertErrorWrap .askExpertForm {
      width: 100%; }
      .articleExpertItem .askExpertWrapper .askExpertFormWrap .askExpertForm textarea, .articleExpertItem .askExpertWrapper .askExpertErrorWrap .askExpertForm textarea {
        background: none;
        border: 2px solid #ffffff;
        color: #ffffff;
        font-size: 16px;
        text-transform: uppercase;
        text-align: center;
        padding: 7px;
        margin-bottom: 24px;
        width: 100%; }
      .articleExpertItem .askExpertWrapper .askExpertFormWrap .askExpertForm .transparentBordered, .articleExpertItem .askExpertWrapper .askExpertErrorWrap .askExpertForm .transparentBordered {
        padding: 3px 25px; }
    .articleExpertItem .askExpertWrapper .askExpertFormWrap .content, .articleExpertItem .askExpertWrapper .askExpertErrorWrap .content {
      margin-bottom: 50px; }
    .articleExpertItem .askExpertWrapper .askExpertFormWrap .transparentBordered, .articleExpertItem .askExpertWrapper .askExpertErrorWrap .transparentBordered {
      font-size: 16px;
      padding: 3px 9px;
      border: 2px solid #ffffff;
      color: #ffffff;
      margin: 0 15px;
      -webkit-transition: all 0.2s ease-in-out 0s;
      -moz-transition: all 0.2s ease-in-out 0s;
      transition: all 0.2s ease-in-out 0s; }
      .articleExpertItem .askExpertWrapper .askExpertFormWrap .transparentBordered:hover, .articleExpertItem .askExpertWrapper .askExpertErrorWrap .transparentBordered:hover {
        cursor: pointer;
        background: #ffffff;
        color: #000000;
        border-color: #000000; }

@media (min-width: 768px) and (max-width: 1050px) {
  .articleNewsItem .image {
    height: 285px; }
  .articleNewsItem .text {
    width: 100%;
    padding-right: 0;
    float: none; }
    .articleNewsItem .text .content img {
      max-width: 100%; }
  .articleNewsItem .info {
    width: 100%;
    float: none; }

  .articleExpertItem .info {
    margin-top: 30px;
    padding-top: 30px;
    border-top: 1px solid #333333; }
  .articleExpertItem .buttons {
    text-align: center; } }

/*# sourceMappingURL=article.css.map */
