@charset "UTF-8";
@import '../../../../../../css/base/_placeholders.scss';
@import '../../../../../../css/base/_variables.scss';

.productsWrap {
	@media (min-width: 320px) and (max-width: 767px) {
		padding: 0 30px;
	}
}
.products {
	height: 550px;
	width: 100%;
	position: relative;

	&.blurred {
		filter: blur(7px);
	}

	.product {
		height: 550px;
		width: 100%;
		position: relative;
		padding: 25px 15px;
		overflow: hidden;
		@extend %bg-image-cover;

		@media (min-width: 320px) and (max-width: 767px) {
			height: auto;
			padding: 0;
		}

		.top {
			@extend %bg-image-cover;
			height: 435px;
			margin-bottom: 35px;
		}

		$columnWidth: 481px;

		.closeProduct {
			display: block;
			width: 19px;
			height: 19px;
			top: 10px;
			right: 10px;
			position: absolute;
		}

		.leftColumn {
			width: $columnWidth;
			height: 100%;
			box-sizing: border-box;
			padding-top: 18px;
			float: left;

			@media (min-width: 320px) and (max-width: 767px) {
				width: 40%;
			}

			.image {
				position: relative;
				width: 100%;
				height: 100%;
				text-align: center;

				img {
					height: 110%;

					@media (min-width: 320px) and (max-width: 767px) {
						height: 85%;
					}
				}
			}
		}

		.rightColumn {
			width: $columnWidth;
			height: 100%;
			box-sizing: border-box;
			padding-top: 18px;
			float: right;

			@media (min-width: 320px) and (max-width: 767px) {
				width: 60%;
			}
		}

		.categoryTitle {
			text-transform: uppercase;
		}
		.productTitle {
			margin-bottom: 18px;
			text-transform: uppercase;

			@media (min-width: 320px) and (max-width: 767px) {
				margin-bottom: 35px;
			}
		}
		h1, h2 {
			font-size: 22px;
			line-height: 1.1;
		}

		.text {
			color: #ffffff;
			font-size: 12px;
			line-height: 1.24;
		}

		.content {
			width: 93%;
			float: left;

			@media (min-width: 320px) and (max-width: 767px) {
				width: 100%;
			}

			.temperature {
				border-top: 1px solid #4b5e6a;
				border-bottom: 1px solid #4b5e6a;
				margin: 20px 0 16px;
				padding: 7px 0;
				width: 220px;

				@media (min-width: 320px) and (max-width: 767px) {
					border-top: none;
				}

				.tImage {
					float: left;
					width: 25px;
				}
				.tContent {
					float: left;

					.tContentUnit {
						margin-bottom: 8px;
					}

					p {
						font-size: 12px;
					}
				}

				.tContent .tContentUnit:last-child {
					margin-bottom: 0;
				}
				.tConsumption {
					margin-bottom: 10px;
				}

			}

			.recommendations {

				.images {
					object {
						margin: 0 7px 0 0;
					}
				}
			}
			.recommendationsContent {
				font-size: 12px;
				margin-top: 4px;
				line-height: 1.1;

				p {
					font-size: 12px;

				}
			}
		}
	}
}

.bx-pager.bx-default-pager a {
	background: #ffffff;
	&:hover, &.active {
		background: #c49a6c;
	}

}

.bx-prev {
	left: 0;
	background-image: url(#{$imgPath}sliderNext.png);
	background-repeat: no-repeat;
	background-position: center;
	@include transform(rotate(180deg));

	&:hover {
		background-color: rgba(0, 0, 0, 0.5);
	}
}
.bx-next {
	right: 0;
	background-image: url(#{$imgPath}sliderNext.png);
	background-repeat: no-repeat;
	background-position: center;


	&:hover {
		background-color: rgba(0, 0, 0, 0.5);
	}
}

@media (min-width: 1051px) {

	.products {

		.product {

			.leftColumn {

			}
		}
	}
}

@media (min-width: 768px) and (max-width: 1050px) {

	.products {

		.product {

			.leftColumn {
				width: 43%;
			}

			.rightColumn {
				width: 57%;
			}
		}
	}
}