.products .product, .products .product .top {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center; }

@media (min-width: 320px) and (max-width: 767px) {
  .productsWrap {
    padding: 0 30px; } }

.products {
  height: 550px;
  width: 100%;
  position: relative; }
  .products.blurred {
    filter: blur(7px); }
  .products .product {
    height: 550px;
    width: 100%;
    position: relative;
    padding: 25px 15px;
    overflow: hidden; }
    @media (min-width: 320px) and (max-width: 767px) {
      .products .product {
        height: auto;
        padding: 0; } }
    .products .product .top {
      height: 435px;
      margin-bottom: 35px; }
    .products .product .closeProduct {
      display: block;
      width: 19px;
      height: 19px;
      top: 10px;
      right: 10px;
      position: absolute; }
    .products .product .leftColumn {
      width: 481px;
      height: 100%;
      box-sizing: border-box;
      padding-top: 18px;
      float: left; }
      @media (min-width: 320px) and (max-width: 767px) {
        .products .product .leftColumn {
          width: 40%; } }
      .products .product .leftColumn .image {
        position: relative;
        width: 100%;
        height: 100%;
        text-align: center; }
        .products .product .leftColumn .image img {
          height: 110%; }
          @media (min-width: 320px) and (max-width: 767px) {
            .products .product .leftColumn .image img {
              height: 85%; } }
    .products .product .rightColumn {
      width: 481px;
      height: 100%;
      box-sizing: border-box;
      padding-top: 18px;
      float: right; }
      @media (min-width: 320px) and (max-width: 767px) {
        .products .product .rightColumn {
          width: 60%; } }
    .products .product .categoryTitle {
      text-transform: uppercase; }
    .products .product .productTitle {
      margin-bottom: 18px;
      text-transform: uppercase; }
      @media (min-width: 320px) and (max-width: 767px) {
        .products .product .productTitle {
          margin-bottom: 35px; } }
    .products .product h1, .products .product h2 {
      font-size: 22px;
      line-height: 1.1; }
    .products .product .text {
      color: #ffffff;
      font-size: 12px;
      line-height: 1.24; }
    .products .product .content {
      width: 93%;
      float: left; }
      @media (min-width: 320px) and (max-width: 767px) {
        .products .product .content {
          width: 100%; } }
      .products .product .content .temperature {
        border-top: 1px solid #4b5e6a;
        border-bottom: 1px solid #4b5e6a;
        margin: 20px 0 16px;
        padding: 7px 0;
        width: 220px; }
        @media (min-width: 320px) and (max-width: 767px) {
          .products .product .content .temperature {
            border-top: none; } }
        .products .product .content .temperature .tImage {
          float: left;
          width: 25px; }
        .products .product .content .temperature .tContent {
          float: left; }
          .products .product .content .temperature .tContent .tContentUnit {
            margin-bottom: 8px; }
          .products .product .content .temperature .tContent p {
            font-size: 12px; }
        .products .product .content .temperature .tContent .tContentUnit:last-child {
          margin-bottom: 0; }
        .products .product .content .temperature .tConsumption {
          margin-bottom: 10px; }
      .products .product .content .recommendations .images object {
        margin: 0 7px 0 0; }
      .products .product .content .recommendationsContent {
        font-size: 12px;
        margin-top: 4px;
        line-height: 1.1; }
        .products .product .content .recommendationsContent p {
          font-size: 12px; }

.bx-pager.bx-default-pager a {
  background: #ffffff; }
  .bx-pager.bx-default-pager a:hover, .bx-pager.bx-default-pager a.active {
    background: #c49a6c; }

.bx-prev {
  left: 0;
  background-image: url(/img/sliderNext.png);
  background-repeat: no-repeat;
  background-position: center;
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg); }
  .bx-prev:hover {
    background-color: rgba(0, 0, 0, 0.5); }

.bx-next {
  right: 0;
  background-image: url(/img/sliderNext.png);
  background-repeat: no-repeat;
  background-position: center; }
  .bx-next:hover {
    background-color: rgba(0, 0, 0, 0.5); }

@media (min-width: 768px) and (max-width: 1050px) {
  .products .product .leftColumn {
    width: 43%; }
  .products .product .rightColumn {
    width: 57%; } }

/*# sourceMappingURL=products.css.map */
