@charset "UTF-8";
@import '../../../../../../css/base/_placeholders.scss';
@import '../../../../../../css/base/_variables.scss';


.feedbackWrapper {
	width: 100%;
	position: relative;

	.feedbackContent {
		@media (min-width: 320px) and (max-width: 767px) {
			padding: 0 25px;
			margin-bottom: 45px;
		}
	}

	.feedbackBackground {
		@extend %bg-image-cover;
		width: 100%;
		height: 357px;
		background-image: url('#{$imgPath}feedbackBackground.jpg');

		@media (min-width: 320px) and (max-width: 767px) {
			height: 180px;
		}
	}

	.moduleMainHeader {
		font-size: 26px;
		color: #515151;
		margin: 35px 0 50px;

		@media (min-width: 320px) and (max-width: 767px) {
			margin: 35px 0;
		}
	}

	.feedbackList {
		position: relative;

		.feedbackItem {
			position: relative;
			color: #FFFFFF;
			margin-bottom: 55px;

			.avatar {
				$size: 160px;

				float: left;
				width: $size;
				height: $size;
				@extend %bg-image-cover;
				margin-right: 35px;

				@media (min-width: 320px) and (max-width: 767px) {
					width: 100px;
					height: 100px;
				}
			}

			.feedbackItemContent {
				float: left;
				width: 829px;

				@media (min-width: 320px) and (max-width: 767px) {
					width: 63%;
				}

				.head {
					position: relative;
					width: 100%;
					margin-bottom: 20px;

					.authorName {
						float: left;
					}
					.date {
						float: right;
						color: #333333;
						font-size: 12px;
					}
				}

				.content {
					position: relative;

					blockquote {
						padding: 0 0 0 40px;
						font-size: 12px;
						line-height: 1.8;
						position: relative;

						&:before {
							content: '';
							width: 34px;
							height: 33px;
							position: absolute;
							top: 0;
							left: -5px;
							@extend %bg-image-cover;
							background-image: url("#{$imgPath}blockquote.png");
						}
					}
				}
			}
		}
	}

	.moreFeedbackWrapper {
		position: relative;
		text-align: center;
		margin-bottom: 80px;
		display: none;

		.transparentBordered {
			position: relative;
			border: none;
			font-size: 16px;
			padding: 3px 12px;
			color: #ffffff;

			&:hover {
				cursor: pointer;
				color: #c49a6c;
				text-decoration: underline;
			}
		}
	}

	.sendFeedback {
		width: 570px;
		position: relative;
		margin: 0 auto;
		color: #FFFFFF;

		@media (min-width: 320px) and (max-width: 767px) {
			width: 100%;
		}

		h1 {
			font-size: 26px;
			margin: 0 0 20px;
		}

		textarea {
			width: 100%;
			background: none;
			border: none;
			box-sizing: border-box;
			padding: 10px;
			color: #FFFFFF;
			line-height: 1.4;
		}

		.transparentBordered {

			font-size: 16px;
			padding: 3px 9px;
			border: none;
			color: #ffffff;
			float: right;
			margin-top: 10px;

			&:hover {
				cursor: pointer;
				color: #c49a6c;
				text-decoration: underline;
			}

			&:disabled {
				color: #333333;
				border: none;

				&:hover {
					background: none;
					cursor: default;
				}
			}
		}

		button {
			float: right;
		}

		.commentBtn {
			float: left;
			padding: 4px 9px;
			margin-right: 10px;
		}
	}

}

@media (min-width: 768px) and (max-width: 1050px) {

	.feedbackWrapper {

		.feedbackBackground {
			height: 285px;
		}

		.feedbackList {

			.feedbackItem {

				.feedbackItemContent {
					width: 493px;
				}
			}
		}
	}
}