doctype html
html(lang="ua")
    head

        meta(property="fb:app_id" content="#{fbAppId}")
        meta(property="og:site_name" content="Shabo")
        meta(property="og:type" content="article")
        meta(property="og:title" content="#{tale.name}")

        meta(property="og:url" content="#{host}like/#{tale._id}")
        if tale.cover
            meta(property="og:image" content="#{host}uploads/#{tale.cover}")
        else
            meta(property="og:image" content="#{host}img/favicon.png")

        <link rel="canonical" href="#{host}like/#{tale._id}" />

        title Kinder-Biovital
    body
        div= tale.name
