@media (min-width: 320px) and (max-width: 767px) {
  .galleryImagesWrapper {
    padding: 30px; } }
.galleryImagesWrapper .galleryImage {
  float: left;
  position: relative;
  margin: 0 8px 8px 0;
  width: 250px;
  height: 250px;
  overflow: hidden;
  opacity: 0.8;
  -webkit-transition: opacity 150ms ease-in-out 0s;
  -moz-transition: opacity 150ms ease-in-out 0s;
  transition: opacity 150ms ease-in-out 0s; }
  @media (min-width: 320px) and (max-width: 767px) {
    .galleryImagesWrapper .galleryImage {
      height: 200px;
      width: 47.5%;
      margin-right: 5%;
      margin-bottom: 5%; } }
  .galleryImagesWrapper .galleryImage:hover {
    opacity: 1;
    cursor: pointer; }
  .galleryImagesWrapper .galleryImage .falsey {
    display: none; }
  .galleryImagesWrapper .galleryImage .image {
    width: 250px;
    height: 250px;
    background-repeat: no-repeat;
    background-position: center -70px; }
    @media (min-width: 320px) and (max-width: 767px) {
      .galleryImagesWrapper .galleryImage .image {
        width: 100%;
        height: 200px; } }
    .galleryImagesWrapper .galleryImage .image .borderBlock {
      visibility: hidden;
      opacity: 0;
      position: relative;
      width: 100%;
      height: 100%;
      -webkit-transition: all 0.3s ease-in-out 0s;
      -moz-transition: all 0.3s ease-in-out 0s;
      transition: all 0.3s ease-in-out 0s; }
      .galleryImagesWrapper .galleryImage .image .borderBlock .imageDescription {
        color: #ffffff;
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        box-sizing: border-box;
        padding: 12px 17px;
        font-weight: bold; }
    .galleryImagesWrapper .galleryImage .image:hover {
      cursor: pointer; }
    .galleryImagesWrapper .galleryImage .image:hover .borderBlock {
      visibility: visible;
      opacity: 1; }
@media (min-width: 320px) and (max-width: 767px) {
  .galleryImagesWrapper .galleryImage:nth-child(2n) {
    margin-right: 0; } }

.htmlContent {
  color: #ffffff;
  font-weight: bold;
  background: rgba(0, 0, 0, 0.3);
  position: relative;
  margin: -66px auto 0;
  text-align: left;
  padding: 25px 20px;
  -webkit-transition: all 0.5s ease-in-out 0s;
  -moz-transition: all 0.5s ease-in-out 0s;
  transition: all 0.5s ease-in-out 0s; }

@media (min-width: 1050px) {
  .galleryImagesWrapper .galleryImage:nth-child(4n) {
    margin-right: 0; } }
@media (min-width: 768px) and (max-width: 1050px) {
  .galleryImagesWrapper .galleryImage {
    width: 224px;
    height: 224px; }
    .galleryImagesWrapper .galleryImage .image {
      width: 224px;
      height: 224px; }
  .galleryImagesWrapper .galleryImage:nth-child(3n) {
    margin-right: 0; } }
#lightGallery-Gallery .thumb_cont .thumb_info {
  display: none; }

#lightGallery-Gallery .thumb_cont .thumb > img {
  height: 100% !important; }

.cLthumb {
  display: none !important; }

#lightGallery-action {
  visibility: visible !important;
  opacity: 1 !important;
  z-index: 999 !important; }

.galleryImagesWrapper .backButtonWrap button {
  color: #515151; }
  .galleryImagesWrapper .backButtonWrap button:hover {
    color: #c49a6c; }

/*# sourceMappingURL=galleryImages.css.map */
