@charset "UTF-8";
@import '../../../../../../css/base/_placeholders.scss';
@import '../../../../../../css/base/_variables.scss';

.authorWrapper {

	.image {
		width: 100%;
		height: 285px;
		@extend %bg-image-cover;
	}

	.authorWrapperContent {
		@media (min-width: 320px) and (max-width: 767px) {
			padding: 0 25px;
			margin-bottom: 40px;
		}
	}

	h1 {
		font-size: 28px;
		margin: 35px 0 30px;
		color: #FFFFFF;
	}

	.authorInfo {

		.avatar {
			float: left;
			width: 47%;
			margin-right: 3%;

			img {
				width: 100%;
			}
		}

		.authorName {
			color: #c49a6c;
			font-weight: bold;
			margin-bottom: 15px;
		}

		.description {
			float: left;
			width: 50%;
			color: #FFFFFF;

			.text {
				font-size: 14px;
				line-height: 1.6;
				margin-bottom: 15px;
			}

			.askExpertBtn {
				float: left;
			}

			.allExperts {
				float: right;
			}
		}
	}

	.buttons {
		margin: 0 0 0 0;
		text-align: center;

		@media (min-width: 320px) and (max-width: 767px) {
			margin-top: 35px;
		}
	}

	.transparentBordered {
		font-size: 16px;
		padding: 3px 9px;
		color: #ffffff;
		@include transition (all 0.2s ease-in-out 0s);

		&:hover {
			cursor: pointer;
			color: #c49a6c;
			text-decoration: underline;
		}
	}

	.askExpertWrapper {
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: 1;

		.askExpertBackground {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background: rgba(0, 0, 0, 0.5);
		}

		.closeAskExpertBtn {
			position: absolute;
			top: 15px;
			right: 15px;
			width: 19px;
			height: 19px;
			opacity: 0.8;
			@include transition(opacity 150ms ease-in-out 0s);

			&:hover {
				cursor: pointer;
				opacity: 1;
			}
		}

		.askExpertFormWrap, .askExpertErrorWrap {
			position: absolute;
			width: 610px;
			background: #000;
			left: 50%;
			top: 50%;
			margin-top: -154px;
			margin-left: -305px;
			color: #FFFFFF;
			padding: 35px 125px;
			text-align: center;
			box-shadow: 0 0 50px 20px rgba(60, 60, 60, 0.75);
			@include transition(box-shadow 150ms ease-in-out 0s);

			.askExpertForm {
				width: 100%;

				textarea {
					background: none;
					border: 2px solid #ffffff;
					color: #ffffff;
					font-size: 16px;
					text-transform: uppercase;
					text-align: center;
					padding: 7px;
					margin-bottom: 24px;
					width: 100%;
				}

				.transparentBordered {
					padding: 3px 25px;
				}
			}

			.content {
				margin-bottom: 50px;
			}
		}

		.transparentBordered {
			font-size: 16px;
			padding: 3px 9px;
			border: 2px solid #ffffff;
			color: #ffffff;
			@include transition (all 0.2s ease-in-out 0s);

			&:hover {
				cursor: pointer;
				background: #ffffff;
				color: #000000;
				border-color: #000000;
			}
		}
	}

	.articlesList {
		.expertColumnItem {

			position: relative;
			float: left;
			width: 30%;
			margin-right: 5%;
			color: #FFFFFF;

			@media (min-width: 320px) and (max-width: 767px) {
				width: 100%;
				float: none;
				margin-right: 0;
				margin-bottom: 40px;
			}

			&:hover {
				cursor: pointer;

				h4, .columnText {
					text-decoration: underline;
				}
			}

			.columnImage {
				position: relative;
				width: 100%;
				@extend %bg-image-cover;
				height: 210px;
				margin-bottom: 10px;
			}

			.columnContent {

				h3 {
					margin-bottom: 10px;
					color: #c49a6c;
				}
				h4 {
					margin-bottom: 10px;
				}

				.columnText {
					font-size: 12px;
					line-height: 1.6;
					margin-bottom: 25px;
				}

				.columnContentBottom {
					font-size: 12px;
					color: #808080;
				}
			}
		}

		& .expertColumnItem:nth-of-type(3n) {
			margin-right: 0;
		}
	}
}


@media (min-width: 768px) and (max-width: 1050px) {

	.authorWrapper {

		.authorInfo {

			.avatar {
				float: none;
				width: 400px;
				margin-bottom: 15px;
			}

			.description {
				width: 100%;
				float: none;

				.text {
					margin-bottom: 30px;
				}

				.buttons {

					.transparentBordered {
						padding: 3px 0;
					}
				}
			}
		}

		.articlesList {

			.expertColumnItem {
				width: 47%;
				margin-bottom: 50px;
			}

			& .expertColumnItem:nth-child(3n) {
				margin-right: 6%;
			}

			& .expertColumnItem:nth-child(2n) {
				margin-right: 0;

				&:after {
					content: '';
					display: block;
					clear: both;
				}
			}
		}
	}
}