@charset "UTF-8";
@import '../../../../../../../css/base/_placeholders.scss';
@import '../../../../../../../css/base/_variables.scss';


.degustationWrapper {
	color: #ffffff;

	.image {
		width: 100%;
		height: 357px;
		@extend %bg-image-cover;

		@media (min-width: 320px) and (max-width: 767px) {
			height: 210px;
		}
	}

	.text {
		margin: 35px 0 0 0;

		@media (min-width: 320px) and (max-width: 767px) {
			padding: 0 30px;
		}

		h1 {
			font-size: 26px;
			margin-bottom: 35px;
		}

		.content {
			float: left;
			width: 45%;
			font-size: 12px;
			line-height: 20px;
			margin-bottom: 70px;

			@media (min-width: 320px) and (max-width: 767px) {
				float: none;
				width: 100%;
			}
		}

		.visitDegustation {
			float: right;
			width: 45%;
			margin-bottom: 70px;

			@media (min-width: 320px) and (max-width: 767px) {
				float: none;
				width: 100%;

			}

			.transparentBordered {
				padding: 3px 9px;
				font-size: 22px;
				border: 2px solid #515151;
				color: #ffffff;
				margin-bottom: 15px;

				&:hover {
					cursor: pointer;
					opacity: 1;
					color: #c49a6c;
					text-decoration: underline;
					border: 2px solid #c49a6c;
				}
			}

			p {
				font-size: 12px;
				line-height: 1.6;
			}
		}
	}

	.buttons {
		margin: 77px 0 0 0;
		text-align: center;
	}

	.transparentBordered {
		font-size: 22px;
		padding: 3px 9px;
		border: 2px solid #ffffff;
		color: #ffffff;
		margin: 0;

		&:hover {
			cursor: pointer;
			opacity: 0.8;
		}
	}

	.degustationRange {
		font-size: 12px;

		@media (min-width: 320px) and (max-width: 767px) {
			padding: 0 30px;
		}

		h1 {
			font-size: 26px;
			margin-bottom: 40px;
		}
		h3 {
			font-size: 12px;
			margin-bottom: 7px;
		}
		p {
			margin-bottom: 20px;
		}
		img {

		}
		ul {
			line-height: 1.6;
			//margin-top: -120px;
			position: relative;

			@media (min-width: 600px) and (max-width: 767px) {
			}
			@media (min-width: 450px) and (max-width: 599px) {
				margin-top: -75px;
			}
			@media (min-width: 320px) and (max-width: 449px) {
				margin-top: -55px;
			}

			li {

				&:hover {
					text-decoration: underline;
					color: #c49a6c;
					cursor: pointer;
				}
			}
		}
	}
	.rangeItem {
		float: left;
		width: 50%;

		@media (min-width: 320px) and (max-width: 767px) {
			width: 100%;
			margin-bottom: 60px;

			.vipList {
				margin-top: 70px;
			}
		}

		&.vip {
			img {
				width: 100%;
			}
		}
		&.standard {
			img {
				width: 100%;
			}
		}

		ul {
			position: relative;
		}

		.rangeItemImage {
			position: relative;
			font-size: 0;
			display: flex;
			flex-wrap: nowrap;

			@media (min-width: 320px) and (max-width: 767px) {

				.degustationImage {
					height: 100%;

					img {
						max-height: 100%;
					}
				}
			}

			@media (min-width: 600px) and (max-width: 767px) {
				height: 430px;
			}
			@media (min-width: 450px) and (max-width: 599px) {
				height: 330px;
			}
			@media (min-width: 320px) and (max-width: 449px) {
				height: 248px;
			}

			.degustationImage {
				position: relative;

				&:after {
					content: '';
					display: block;
					position: absolute;
					bottom: 162px;
					left: 50%;
					margin-left: -3px;
					width: 7px;
					height: 7px;
					border-radius: 50%;
					background: #c49a6c;
					visibility: hidden;
					opacity: 0;
					@include transition(all 0.2s linear 0s);

					@media (min-width: 600px) and (max-width: 767px) {
						bottom: 158px;
					}
					@media (min-width: 450px) and (max-width: 599px) {
						bottom: 110px;
					}
					@media (min-width: 320px) and (max-width: 449px) {
						bottom: 82px;

					}
				}

				&.visible {
					&:after {
						visibility: visible;
						opacity: 1;
					}
				}
			}

			img {
				display: inline-block;
				position: relative;
			}

			.standardPointers {
				width: 100%;
				position: absolute;
				bottom: 45px;
				height: 1px;

				@media (min-width: 320px) and (max-width: 767px) {
					bottom: 23px;
				}

				.pointer1 {
					left: 42px;

					@media (min-width: 320px) and (max-width: 767px) {
						left: 4%;
					}
				}
				.pointer2 {
					left: 104px;

					@media (min-width: 320px) and (max-width: 767px) {
						left: 14.5%;
					}
				}
				.pointer3 {
					left: 173px;

					@media (min-width: 320px) and (max-width: 767px) {
						left: 27%;
					}
				}
				.pointer4 {
					left: 245px;

					@media (min-width: 320px) and (max-width: 767px) {
						left: 39%;
					}
				}
				.pointer5 {
					left: 317px;

					@media (min-width: 320px) and (max-width: 767px) {
						left: 50%;
					}
				}
				.pointer6 {
					left: 409px;

					@media (min-width: 320px) and (max-width: 767px) {
						left: 62%;
					}
				}
				.pointer7 {
					left: 372px;

					@media (min-width: 320px) and (max-width: 767px) {
						left: 77%;
					}
				}
				.pointer8 {
					left: 450px;

					@media (min-width: 320px) and (max-width: 767px) {
						left: 92%;
					}
				}
			}

			.vipPointers {
				width: 100%;
				position: absolute;
				bottom: 45px;
				height: 1px;

				@media (min-width: 320px) and (max-width: 767px) {
					bottom: -45px;
				}

				.pointer1 {
					left: 30px;

					@media (min-width: 320px) and (max-width: 767px) {
						left: 8%;
					}
				}
				.pointer2 {
					left: 90px;

					@media (min-width: 320px) and (max-width: 767px) {
						left: 24%;
					}
				}
				.pointer3 {
					left: 148px;

					@media (min-width: 320px) and (max-width: 767px) {
						left: 36.5%;
					}
				}
				.pointer4 {
					left: 205px;

					@media (min-width: 320px) and (max-width: 767px) {
						left: 50%;
					}
				}
				.pointer5 {
					left: 266px;

					@media (min-width: 320px) and (max-width: 767px) {
						left: 63%;
					}
				}
				.pointer6 {
					left: 331px;

					@media (min-width: 320px) and (max-width: 767px) {
						left: 79%;
					}
				}
				.pointer7 {
					left: 419px;

					@media (min-width: 320px) and (max-width: 767px) {
						left: 94.5%;
					}
				}
			}

			.pointer {
				position: absolute;
				top: 0;
				width: 7px;
				height: 7px;
				border-radius: 50%;
				background: #c49a6c;
				visibility: hidden;
				opacity: 0;
				@include transition(all 0.2s linear 0s);

				&.visible {
					visibility: visible;
					opacity: 1;
				}
			}


		}
	}

	.standard {
		margin-right: 50px;

		@media (min-width: 320px) and (max-width: 767px) {
			margin-right: 0;
			margin-bottom: 50px;
		}
	}
}

@media (min-width: 768px) and (max-width: 1050px) {

	.degustationWrapper {

		.text {

			.content {
				float: none;
				width: 100%;
			}

			.visitDegustation {
				float: none;
				width: 100%;
			}
		}

		.rangeItem {
			float: none;
			width: 100%;
			margin-bottom: 60px;

			ul {
				-webkit-column-count:2;
				-moz-column-count:2;
				column-count:2;
				margin-top: -55px;

				-webkit-column-gap: 55px;
				-moz-column-gap: 55px;
				column-gap: 55px;
			}

			.rangeItemImage {
				height: 365px;

				.degustationImage {
					&:after {
						bottom: 85px;
					}
				}

				.standardPointers {

					.pointer1 {
						left: 31px;
					}
					.pointer2 {
						left: 103px;
					}
					.pointer3 {
						left: 176px;
					}
					.pointer4 {
						left: 248px;
					}
					.pointer5 {
						left: 336px;
					}
					.pointer6 {
						left: 427px;
					}
					.pointer7 {
						left: 530px;
					}
					.pointer8 {
						left: 638px;
					}
				}

				.vipPointers {

					.pointer1 {
						left: 53px;
					}
					.pointer2 {
						left: 162px;
					}
					.pointer3 {
						left: 257px;
					}
					.pointer4 {
						left: 348px;
					}
					.pointer5 {
						left: 439px;
					}
					.pointer6 {
						left: 547px;
					}
					.pointer7 {
						left: 653px;
					}
				}
			}

			&.vip {
				.rangeItemImage {
					height: 460px;
				}

				img {
					width: 100%;
				}
			}
		}

		.standard {
			margin-right: 0;
			margin-bottom: 45px;
		}
	}
}