.cultureCentreWrapper .left .cultureCentreDescription, .cultureCentreWrapper .left .tours, .cultureCentreWrapper .left .gallery, .cultureCentreWrapper .left .videos, .cultureCentreWrapper .left .degustations, .cultureCentreWrapper .left .feedback {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center; }

.cultureCentreWrapper .left {
  float: left;
  margin: 0 8px 0 0; }
  .cultureCentreWrapper .left .leftTop {
    margin: 0 0 8px 0; }
  .cultureCentreWrapper .left .cultureCentreDescription {
    float: left;
    background-image: url(/img/cultureCentreDesc.jpg);
    width: 437px;
    height: 331px; }
  .cultureCentreWrapper .left .tours {
    float: left;
    background-image: url(/img/tour.jpg);
    width: 259px;
    height: 331px; }
  .cultureCentreWrapper .left .gallery {
    float: left;
    background-image: url(/img/gallery.jpg);
    width: 440px;
    height: 301px; }
  .cultureCentreWrapper .left .videos {
    float: left;
    background-image: url(/img/videos.jpg);
    width: 256px;
    height: 301px; }
  .cultureCentreWrapper .left .degustations {
    background-image: url(/img/degustation.jpg);
    width: 312px;
    height: 409px; }
  .cultureCentreWrapper .left .feedback {
    background-image: url(/img/feedback.jpg);
    width: 312px;
    height: 223px; }
.cultureCentreWrapper .right {
  float: left; }

/*# sourceMappingURL=culture-centre.css.map */
