@charset "UTF-8";
@import '../../../../../../../css/base/_placeholders.scss';
@import '../../../../../../../css/base/_variables.scss';

.parallelHeader {
	position: absolute;
	top: 205px;
	left: 20px;
	z-index: 1;

	h1 {
		font-size: 24px;
		color: #149cec;
	}
}

.wineMapWrapper {
	position: relative;
	width: 100%;
	overflow: hidden;

	@media (min-width: 320px) and (max-width: 767px) {
		padding: 0 25px;
		margin-bottom: 15px;
	}

/*	.wineMapContent {
		position: relative;
		width: 2750px;
		height: 550px;
		background-image: url('#{$imgPath}world-map.jpg');
		background-position: 0 -163px;
		background-size: 100%;
	}*/

	.wineMapContent {
		position: relative;
		width: 1024px;
		height: 550px;
		background-image: url('#{$imgPath}world-map.jpg');
		background-size: 100% 100%;
		background-repeat: no-repeat;

		@media (min-width: 320px) and (max-width: 767px) {
			width: 100%;
			height: 335px;
			background-size: auto;
			background-position: -110px 0;

		}

		@media (min-width: 768px) and (max-width: 1050px) {
			width: 100%;
			background-size: auto;
			background-position: 0 0;

		}

	}

	.mCSB_scrollTools.mCSB_scrollTools_horizontal {
		width: 300px;
		left: 50%;
		margin-left: -150px;
		bottom: 45px;
	}

	.mCSB_scrollTools {
		opacity: 1;
	}

	.mCS-rounded.mCSB_scrollTools_horizontal .mCSB_dragger .mCSB_dragger_bar {
		width: 25px;
		background: #ffffff;
		top: -5px;
		@include transition(background 0.2s ease-in-out 0s);

		&:hover {
			background: #c49a6c;
		}
	}

	.mCS-rounded.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
		height: 25px;
		background: #ffffff;
		top: -5px;
	}

	.mCS-rounded.mCSB_scrollTools .mCSB_draggerRail {
		background: #ffffff;
	}

	.parralelStripe {
		position: absolute;
		width: 100%;
		top: 228px;
		border: 1px solid #ce2031;
	}

	.mapPlace {
		position: absolute;
		width: 0;
		height: 0;
		top: 0;

		&:hover {
			cursor: pointer;
		}

		.mapPointer {
			position: absolute;
			width: 28px;
			height: 42px;
			bottom: 0;
			@extend %bg-image-contain;
			background-image: url('#{$imgPath}mapPointerYellow.png');
			@include transition(all 0.3s ease-in-out 0s);
		}

		&.active {

			.mapPointer {
				background-image: url('#{$imgPath}mapPointer.png');
				@include transform(scale(1.5));
				@include transform-origin(center bottom);
			}
		}
	}

/*	.mapPlace1 {
		left: 1315px;
		top: 283px;
	}
	.mapPlace2 {
		left: 1347px;
		top: 270px;
	}
	.mapPlace3 {
		left: 1390px;
		top: 245px;
	}

	.mapPlace4 {
		left: 1439px;
		top: 212px;
	}
	.mapPlace5 {
		left: 1446px;
		top: 265px;
	}
	.mapPlace6 {
		left: 1474px;
		top: 220px;
	}
	.mapPlace7 {
		left: 1530px;
		top: 223px;
	}
	.mapPlace8 {
		left: 1563px;
		top: 234px;
	}
	.mapPlace9 {
		left: 1927px;
		top: 238px;
	}
	.mapPlace10 {
		left: 588px;
		top: 284px;
	}*/

	.mapPlace1 {
		left: 180px;
		top: 257px;

		@media (min-width: 320px) and (max-width: 767px) {
			left: 75px;
		}
	}
	.mapPlace2 {
		left: 212px;
		top: 244px;

		@media (min-width: 320px) and (max-width: 767px) {
			left: 107px;
		}
	}
	.mapPlace3 {
		left: 255px;
		top: 219px;

		@media (min-width: 320px) and (max-width: 767px) {
			left: 150px;
		}
	}

	.mapPlace4 {
		left: 304px;
		top: 186px;

		@media (min-width: 320px) and (max-width: 767px) {
			left: 200px;
		}
		@media (min-width: 768px) and (max-width: 1050px) {

		}
	}
	.mapPlace5 {
		left: 311px;
		top: 239px;

		@media (min-width: 320px) and (max-width: 767px) {
			left: 205px;
		}
		@media (min-width: 768px) and (max-width: 1050px) {

		}
	}
	.mapPlace6 {
		left: 339px;
		top: 194px;

		@media (min-width: 320px) and (max-width: 767px) {
			left: 235px;
		}
		@media (min-width: 768px) and (max-width: 1050px) {

		}
	}
	.mapPlace7 {
		left: 395px;
		top: 197px;

		@media (min-width: 320px) and (max-width: 767px) {
			left: 290px;
		}
		@media (min-width: 768px) and (max-width: 1050px) {

		}
	}
	.mapPlace8 {
		left: 428px;
		top: 208px;

		@media (min-width: 320px) and (max-width: 767px) {
			left: 323px;
		}
		@media (min-width: 768px) and (max-width: 1050px) {

		}
	}
	.mapPlace9 {
		left: 792px;
		top: 212px;

		@media (min-width: 320px) and (max-width: 767px) {
			left: 687px;
		}
		@media (min-width: 768px) and (max-width: 1050px) {

		}
	}

}

.mapPlaceDescription {
	$width: 850px;

	visibility: hidden;
	opacity: 0;
	position: absolute;
	bottom: 70px;
	left: 50%;
	margin-left: -$width/2;
	padding: 20px 25px;
	width: $width;
	@include transition(all 0.3s ease-in-out 0s);
	background: #ab1a29;
	overflow: auto;
	z-index: 1;

	&.active {
		visibility: visible;
		opacity: 1;
	}

	@media (min-width: 320px) and (max-width: 767px) {
		background: none;
		padding: 0 25px;
		width: 100%;
		position: relative;
		bottom: auto;
		left: 0;
		margin-left: 0;
		margin-bottom: 40px;

		visibility: visible;
		display: none;

		&.active {
			display: block;
		}
	}

	@media (min-width: 768px) and (max-width: 1050px) {
		background: none;
		width: 100%;
		position: relative;
		bottom: auto;
		left: 0;
		margin-left: 0;
		margin-bottom: 40px;
		margin-top: 20px;
		padding: 0;

		visibility: visible;
		display: none;

		&.active {
			display: block;
		}
	}

	h1 {
		color: #fc7885;
		font-size: 24px;
		margin-bottom: 15px;
	}
	.content {
		font-size: 12px;
		color: #ffffff;
		line-height: 1.2;
	}
}

/*
@-moz-document url-prefix() {
	.wineMapWrapper {
		.mapPlace1 {
			left: 1175px;
		}
		.mapPlace2 {
			left: 1215px;
		}
		.mapPlace3 {
			left: 1328px;
		}
	}
}*/
