.cultureCentreDescrWrapper .image {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center; }

.cultureCentreDescrWrapper {
  color: #ffffff; }
  .cultureCentreDescrWrapper .image {
    width: 100%;
    height: 357px; }
  .cultureCentreDescrWrapper .text {
    margin: 35px 0 0 0; }
    .cultureCentreDescrWrapper .text h1 {
      font-size: 26px;
      margin-bottom: 25px; }
    .cultureCentreDescrWrapper .text .content {
      -webkit-column-count: 2;
      -moz-column-count: 2;
      column-count: 2;
      -webkit-column-gap: 55px;
      -moz-column-gap: 55px;
      column-gap: 55px;
      font-size: 12px;
      line-height: 20px; }

/*# sourceMappingURL=simplePage-culture-centre-description.css.map */
