@charset "UTF-8";
@import '../../../../../../../css/base/_placeholders.scss';
@import '../../../../../../../css/base/_variables.scss';


.toursWrapper {
	color: #ffffff;

	.image {
		width: 100%;
		height: 357px;
		@extend %bg-image-cover;

		@media (min-width: 320px) and (max-width: 767px) {
			height: 210px;
		}
	}

	.text {
		margin: 35px 0 0 0;

		@media (min-width: 320px) and (max-width: 767px) {
			padding: 0 30px;
		}

		h1 {
			font-size: 26px;
			margin-bottom: 25px;
			width: 485px;
			line-height: 1.4;

			@media (min-width: 320px) and (max-width: 767px) {
				width: 100%;
			}
		}

		.content {
			float: left;
			width: 485px;

			font-size: 12px;
			line-height: 20px;
			margin-right: 84px;

			@media (min-width: 320px) and (max-width: 767px) {
				width: 100%;
				float: none;
			}
		}

		.toursSchedule {
			float: left;
			width: 455px;
			font-size: 12px;
			line-height: 20px;
			margin-top: -65px;

			&.en {
				margin-top: 0;
			}

			iframe {
				width: 100% !important;
			}

			@media (min-width: 320px) and (max-width: 767px) {
				width: 100%;
				float: none;
				margin-top: 40px;
			}

			h2 {
				font-size: 20px;
				margin-bottom: 25px;
			}
			.phone {
				margin: 28px 0;
				font-size: 20px;
				font-weight: bold;

			}
		}
	}

	.buttons {
		margin: 77px 0 0 0;
		text-align: center;
	}

	.transparentBordered {
		font-size: 22px;
		padding: 3px 9px;
		border: 2px solid #ffffff;
		color: #ffffff;
		margin: 0;
		@include transition (all 0.2s ease-in-out 0s);

		&:hover {
			cursor: pointer;
			background: #ffffff;
			color: #000000;
			border-color: #000000;
		}
	}
}

@media (min-width: 768px) and (max-width: 1050px) {

	.toursWrapper {

		.text {

			h1 {
				width: 100%;
			}

			.content {
				width: 100%;
				margin-right: 0;

				iframe {
					width: 100% !important;
					height: 350px !important;
				}
			}

			.toursSchedule {
				width: 100%;
				margin-top: 40px;
			}
		}
	}
}