@charset "UTF-8";
@import '../../../../../../../css/base/_placeholders.scss';
@import '../../../../../../../css/base/_variables.scss';

.export-markets {
	position: relative;
	font-family: 'Open Sans', Arial, sans-serif;

	#ways-wrapper {
		position: absolute;
		width: 100%;
		height: 100%;
		pointer-events: none;
	}

	.country-label {
		opacity: 0;
		visibility: hidden;
		@include transition(visibility 200ms ease-in-out 0s, opacity 200ms ease-in-out 0s);

		&.active {
			opacity: 1;
			visibility: visible;
		}
	}

	.map-label {
		position: absolute;
		top: 0;
		left: 0;
		padding: 1px 3px;
		font-size: 18px;
		color: #350F00;
		font-weight: bold;
		pointer-events: none;
		//visibility: hidden;
		//opacity: 0;
		@include transform(translate(-100%, 0));

		@media screen and (min-width: 320px) and (max-width: 1024px) {
			font-size: 12px;
		}

		&.active {
			visibility: visible;
			opacity: 1;
		}
	}

	.map-pointer {
		position: absolute;
		width: 20px;
		height: 29px;
	}
	svg {
		width: 100%;
	}
	#mapObject {
		width: 100%;
	}

	path {
		@include transition(fill 150ms ease-in-out 0s);

		&:hover, &.active {
			cursor: pointer;
		}

		color: rgba(144, 39, 140, 0.9);
	}

	#g46820 {
		path {
			fill-opacity: 1 !important;
		}
	}

	.mapWrapper {
		position: relative;
	}

	.labels {

		#flag {
			position: absolute;
			top: 147px;
			left: 535px;
			width: 14px;
			height: 14px;
			background-image: url('#{$imgPath}flag.svg');

			@media screen and (min-width: 768px) and (max-width: 1024px) {
				top: 26%;
				left: 52%;
			}
			@media screen and (min-width: 320px) and (max-width: 767px) {
				top: 24.5%;
				left: 52%;
				width: 10px;
				height: 10px;
			}
			@media screen and (min-width: 320px) and (max-width: 767px) and (orientation: landscape) {
				top: 26%;
			}
		}

		.map-label {
			position: absolute;
			top: 0;
			left: 0;
			padding: 1px 3px;
			font-size: 18px;
			color: #350F00;
			font-weight: bold;
			pointer-events: none;
			visibility: hidden;
			opacity: 0;
			@include transition(visibility 300ms ease-in-out 0s, opacity 300ms ease-in-out 0s);

			@media screen and (min-width: 320px) and (max-width: 1024px) {
				font-size: 12px;
			}

			&.active {
				visibility: visible;
				opacity: 1;
			}

			&.USA {
				top: 170px;
				left: 70px;

				@media screen and (min-width: 768px) and (max-width: 1024px) {
					top: 32.5%;
					left: 7%;
				}
				@media screen and (min-width: 320px) and (max-width: 767px) {
					top: 30%;
					left: 4%;
				}
				@media screen and (min-width: 320px) and (max-width: 767px) and (orientation: landscape){
					top: 32%;
					left: 5.5%;
				}
			}
			&.Israel {
				top: 220px;
				left: 445px;

				@media screen and (min-width: 768px) and (max-width: 1024px) {
					top: 39.5%;
					left: 44%;
				}
				@media screen and (min-width: 320px) and (max-width: 767px) {
					top: 38%;
					left: 39.5%;
				}
				@media screen and (min-width: 320px) and (max-width: 767px) and (orientation: landscape){
					top: 39%;
					left: 42.5%;
				}
			}
			&.Canada {
				top: 135px;
				left: 50px;

				@media screen and (min-width: 768px) and (max-width: 1024px) {
					top: 25%;
					left: 4%;
				}
				@media screen and (min-width: 320px) and (max-width: 767px) {
					top: 22%;
					left: 0.5%;
				}
				@media screen and (min-width: 320px) and (max-width: 767px) and (orientation: landscape){
					top: 25.5%;
					left: 3%;
				}
			}
			&.China {
				top: 225px;
				left: 760px;

				@media screen and (min-width: 768px) and (max-width: 1024px) {
					top: 42%;
					left: 75%;
				}
				@media screen and (min-width: 320px) and (max-width: 767px) {
					top: 40%;
					left: 70.5%;
				}
				@media screen and (min-width: 320px) and (max-width: 767px) and (orientation: landscape){
					top: 40%;
					left: 74%;
				}
			}
			&.Estonia {
				top: 104px;
				left: 410px;

				@media screen and (min-width: 768px) and (max-width: 1024px) {
					top: 18%;
					left: 40%;
				}
				@media screen and (min-width: 320px) and (max-width: 767px) {
					top: 17%;
					left: 35.5%;
				}
				@media screen and (min-width: 320px) and (max-width: 767px) and (orientation: landscape){
					top: 18%;
					left: 38.5%;
				}
			}
			&.Georgia {
				top: 174px;
				left: 586px;

				@media screen and (min-width: 768px) and (max-width: 1024px) {
					top: 32%;
					left: 57%;
				}
				@media screen and (min-width: 320px) and (max-width: 767px) {
					top: 31%;
					left: 44.5%;
				}
				@media screen and (min-width: 320px) and (max-width: 767px) and (orientation: landscape){
					top: 31%;
					left: 47.5%;
				}
			}
			&.Latvia {
				top: 112px;
				left: 420px;

				@media screen and (min-width: 768px) and (max-width: 1024px) {
					top: 20%;
					left: 41%;
				}
				@media screen and (min-width: 320px) and (max-width: 767px) {
					top: 19%;
					left: 36.5%;
				}
				@media screen and (min-width: 320px) and (max-width: 767px) and (orientation: landscape){
					top: 20%;
					left: 39.5%;
				}
			}
			&.Lithuania {
				top: 117px;
				left: 427px;

				@media screen and (min-width: 768px) and (max-width: 1024px) {
					top: 22%;
					left: 42%;
				}
				@media screen and (min-width: 320px) and (max-width: 767px) {
					top: 21%;
					left: 37.5%;
				}
				@media screen and (min-width: 320px) and (max-width: 767px) and (orientation: landscape){
					top: 21%;
					left: 41%;
				}
			}
			&.Japan {
				top: 194px;
				left: 850px;

				@media screen and (min-width: 768px) and (max-width: 1024px) {
					top: 34.5%;
					left: 83%;
				}
				@media screen and (min-width: 320px) and (max-width: 767px) {
					top: 34%;
					left: 78.5%;
				}
				@media screen and (min-width: 320px) and (max-width: 767px) and (orientation: landscape){
					top: 34%;
					left: 81.5%;
				}
			}
		}

		.ukraine-label {
			position: absolute;
			top: 150px;
			left: 415px;
			font-weight: bold;
			padding: 1px 3px;
			background-color: #b5393b;
			color: #ffffff;
			pointer-events: none;
		}

		.outline {
			position: absolute;
			top: 0;
			left: 0;
			font-weight: bold;
			pointer-events: none;
			visibility: hidden;
			opacity: 0;
			@include transition(visibility 300ms ease-in-out 0s, opacity 300ms ease-in-out 0s);

			&.active {
				visibility: visible;
				opacity: 1;
			}

			&.USA {
				top: 70px;
				left: 138px;
				width: 401px;
				height: 99px;

				@media screen and (min-width: 768px) and (max-width: 1024px) {
					top: 15%;
					left: 13.5%;
					width: 40%;
					height: 15%;
				}
				@media screen and (min-width: 320px) and (max-width: 767px) {
					top: 13%;
					left: 14%;
					width: 38%;
					height: 15%;
				}
				@media screen and (min-width: 320px) and (max-width: 767px) and (orientation: landscape){
					top: 13%;
					left: 13%;
					width: 40%;
					height: 16%;
				}
			}
			&.Israel {
				top: 132px;
				left: 489px;
				width: 48px;
				height: 77px;

				@media screen and (min-width: 768px) and (max-width: 1024px) {
					top: 26%;
					left: 44.5%;
					width: 11%;
					height: 11%;
				}
				@media screen and (min-width: 320px) and (max-width: 767px) {
					top: 25%;
					left: 45%;
					width: 10%;
					height: 10%;
				}
				@media screen and (min-width: 320px) and (max-width: 767px) and (orientation: landscape){
					top: 26%;
					left: 45%;
					width: 11%;
					height: 10%;
				}
			}
			&.Canada {
				top: 47px;
				left: 157px;
				width: 382px;
				height: 120px;

				@media screen and (min-width: 768px) and (max-width: 1024px) {
					top: 10%;
					left: 13.5%;
					width: 39%;
					height: 20%;
				}
				@media screen and (min-width: 320px) and (max-width: 767px) {
					top: 8%;
					left: 14%;
					width: 38%;
					height: 20%;
				}
				@media screen and (min-width: 320px) and (max-width: 767px) and (orientation: landscape){
					top: 9%;
					left: 13%;
					width: 39%;
					height: 21%;
				}
			}
			&.China {
				top: 95px;
				left: 531px;
				width: 313px;
				height: 109px;

				@media screen and (min-width: 768px) and (max-width: 1024px) {
					top: 18%;
					left: 52%;
					width: 30%;
					height: 19%;
				}
				@media screen and (min-width: 320px) and (max-width: 767px) {
					top: 16%;
					left: 52%;
					width: 29%;
					height: 19%;
				}
				@media screen and (min-width: 320px) and (max-width: 767px) and (orientation: landscape){
					top: 18%;
					left: 52%;
					width: 29%;
					height: 19%;
				}
			}
			&.Estonia {
				top: 76px;
				left: 523px;
				width: 43px;
				height: 86px;

				@media screen and (min-width: 768px) and (max-width: 1024px) {
					top: 13%;
					left: 50.5%;
					width: 5%;
					height: 16%;
				}
				@media screen and (min-width: 320px) and (max-width: 767px) {
					top: 12%;
					left: 50.5%;
					width: 5%;
					height: 17%;
				}
				@media screen and (min-width: 320px) and (max-width: 767px) and (orientation: landscape){
					top: 13%;
					left: 50.5%;
					width: 5%;
					height: 17%;
				}
			}
			&.Georgia {
				top: 109px;
				left: 537px;
				width: 49px;
				height: 53px;

				@media screen and (min-width: 768px) and (max-width: 1024px) {
					top: 20%;
					left: 52%;
					width: 5%;
					height: 9%;
				}
				@media screen and (min-width: 320px) and (max-width: 767px) {
					top: 19%;
					left: 52%;
					width: 5%;
					height: 9%;
				}
				@media screen and (min-width: 320px) and (max-width: 767px) and (orientation: landscape){
					top: 20%;
					left: 51.5%;
					width: 5%;
					height: 9%;
				}
			}
			&.Latvia {
				top: 82px;
				left: 517px;
				width: 55px;
				height: 75px;

				@media screen and (min-width: 768px) and (max-width: 1024px) {
					top: 15%;
					left: 49.5%;
					width: 6%;
					height: 14%;
				}
				@media screen and (min-width: 320px) and (max-width: 767px) {
					top: 12.5%;
					left: 50%;
					width: 6%;
					height: 17%;
				}
				@media screen and (min-width: 320px) and (max-width: 767px) and (orientation: landscape){
					top: 13.5%;
					left: 50%;
					width: 6%;
					height: 15%;
				}
			}
			&.Lithuania {
				top: 80px;
				left: 507px;
				width: 57px;
				height: 80px;

				@media screen and (min-width: 768px) and (max-width: 1024px) {
					top: 15%;
					left: 48.5%;
					width: 7%;
					height: 14%;
				}
				@media screen and (min-width: 320px) and (max-width: 767px) {
					top: 13%;
					left: 48%;
					width: 7%;
					height: 17%;
				}
				@media screen and (min-width: 320px) and (max-width: 767px) and (orientation: landscape){
					top: 14%;
					left: 48.5%;
					width: 7%;
					height: 15%;
				}
			}
			&.Japan {
				top: 80px;
				left: 536px;
				width: 385px;
				height: 91px;

				@media screen and (min-width: 768px) and (max-width: 1024px) {
					top: 16%;
					left: 52%;
					width: 38%;
					height: 15%;
				}
				@media screen and (min-width: 320px) and (max-width: 767px) {
					top: 14%;
					left: 52%;
					width: 38%;
					height: 15%;
				}
				@media screen and (min-width: 320px) and (max-width: 767px) and (orientation: landscape){
					top: 15%;
					left: 52%;
					width: 38.5%;
					height: 16%;
				}
			}
		}

		.map-pointer {
			position: absolute;
			top: 0;
			left: 0;
			font-weight: bold;
			pointer-events: none;
			visibility: hidden;
			opacity: 0;
			@include transition(visibility 300ms ease-in-out 0s, opacity 300ms ease-in-out 0s);
			width: 20px;
			height: 29px;

			@media screen and (min-width: 320px) and (max-width: 1024px) {
				width: 14px;
				height: 36px;
			}

			&.active {
				visibility: visible;
				opacity: 1;
			}

			&.USA {
				top: 155px;
				left: 129px;

				@media screen and (min-width: 768px) and (max-width: 1024px) {
					top: 28%;
					left: 11.5%;
				}
				@media screen and (min-width: 320px) and (max-width: 767px) {
					top: 24%;
					left: 11%;
				}
				@media screen and (min-width: 320px) and (max-width: 767px) and (orientation: landscape){
					top: 28%;
					left: 11%;
				}
			}
			&.Israel {
				top: 206px;
				left: 536px;

				@media screen and (min-width: 768px) and (max-width: 1024px) {
					top: 35%;
					left: 52.1%;
				}
				@media screen and (min-width: 320px) and (max-width: 767px) {
					top: 31%;
					left: 52%;
				}
				@media screen and (min-width: 320px) and (max-width: 767px) and (orientation: landscape){
					top: 34.5%;
					left: 52%;
				}
			}
			&.Canada {
				top: 125px;
				left: 134px;

				@media screen and (min-width: 768px) and (max-width: 1024px) {
					top: 21%;
					left: 11.5%;
				}
				@media screen and (min-width: 320px) and (max-width: 767px) {
					top: 16%;
					left: 11%;
				}
				@media screen and (min-width: 320px) and (max-width: 767px) and (orientation: landscape){
					top: 21%;
					left: 11%;
				}
			}
			&.China {
				top: 210px;
				left: 834px;

				@media screen and (min-width: 768px) and (max-width: 1024px) {
					top: 37%;
					left: 81.5%;
				}
				@media screen and (min-width: 320px) and (max-width: 767px) {
					top: 32%;
					left: 81%;
				}
				@media screen and (min-width: 320px) and (max-width: 767px) and (orientation: landscape){
					top: 35%;
					left: 81%;
				}
			}
			&.Estonia {
				top: 92px;
				left: 497px;

				@media screen and (min-width: 768px) and (max-width: 1024px) {
					top: 14%;
					left: 48.7%;
				}
				@media screen and (min-width: 320px) and (max-width: 767px) {
					top: 10.5%;
					left: 48%;
				}
				@media screen and (min-width: 320px) and (max-width: 767px) and (orientation: landscape){
					top: 13.5%;
					left: 48.5%;
				}
			}
			&.Georgia {
				top: 159px;
				left: 574px;

				@media screen and (min-width: 768px) and (max-width: 1024px) {
					top: 27%;
					left: 55.5%;
				}
				@media screen and (min-width: 320px) and (max-width: 767px) {
					top: 23%;
					left: 55%;
				}
				@media screen and (min-width: 320px) and (max-width: 767px) and (orientation: landscape){
					top: 26.5%;
					left: 55%;
				}
			}
			&.Latvia {
				top: 96px;
				left: 499px;

				@media screen and (min-width: 768px) and (max-width: 1024px) {
					top: 15.5%;
					left: 48.5%;
				}
				@media screen and (min-width: 320px) and (max-width: 767px) {
					top: 12%;
					left: 48%;
				}
				@media screen and (min-width: 320px) and (max-width: 767px) and (orientation: landscape){
					top: 15%;
					left: 48%;
				}
			}
			&.Lithuania {
				top: 104px;
				left: 494px;

				@media screen and (min-width: 768px) and (max-width: 1024px) {
					top: 16.5%;
					left: 48.2%;
				}
				@media screen and (min-width: 320px) and (max-width: 767px) {
					top: 13%;
					left: 47%;
				}
				@media screen and (min-width: 320px) and (max-width: 767px) and (orientation: landscape){
					top: 16%;
					left: 48%;
				}
			}
			&.Japan {
				top: 177px;
				left: 925px;

				@media screen and (min-width: 768px) and (max-width: 1024px) {
					top: 30%;
					left: 90.4%;
				}
				@media screen and (min-width: 320px) and (max-width: 767px) {
					top: 27%;
					left: 89.5%;
				}
				@media screen and (min-width: 320px) and (max-width: 767px) and (orientation: landscape){
					top: 29%;
					left: 90%;
				}
			}
		}
	}

	.countriesNamesWrapper {
		overflow: hidden;
		position: relative;
		display: none;

		@media (min-width: 320px) and (max-width: 1024px) {
			display: block;
		}

		&:before {
			content: '';
			display: block;
			position: absolute;
			width: 10%;
			height: 100%;
			left: 0;
			top: 0;

			background: -moz-linear-gradient(left,  rgba(0,0,0,1) 0%, rgba(0,0,0,0) 100%);
			background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(0,0,0,1)), color-stop(100%,rgba(0,0,0,0)));
			background: -webkit-linear-gradient(left,  rgba(0,0,0,1) 0%,rgba(0,0,0,0) 100%);
			background: -o-linear-gradient(left,  rgba(0,0,0,1) 0%,rgba(0,0,0,0) 100%);
			background: -ms-linear-gradient(left,  rgba(0,0,0,1) 0%,rgba(0,0,0,0) 100%);
			background: linear-gradient(to right,  rgba(0,0,0,1) 0%,rgba(0,0,0,0) 100%);
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#00000000',GradientType=1 );

			z-index: 1;
		}

		&:after {
			content: '';
			display: block;
			position: absolute;
			width: 10%;
			height: 100%;
			right: 0;
			top: 0;

			background: -moz-linear-gradient(left,  rgba(0,0,0,0) 0%, rgba(0,0,0,1) 100%);
			background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(0,0,0,0)), color-stop(100%,rgba(0,0,0,1)));
			background: -webkit-linear-gradient(left,  rgba(0,0,0,0) 0%,rgba(0,0,0,1) 100%);
			background: -o-linear-gradient(left,  rgba(0,0,0,0) 0%,rgba(0,0,0,1) 100%);
			background: -ms-linear-gradient(left,  rgba(0,0,0,0) 0%,rgba(0,0,0,1) 100%);
			background: linear-gradient(to right,  rgba(0,0,0,0) 0%,rgba(0,0,0,1) 100%);
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#000000',GradientType=1 );

			z-index: 1;
		}

	}

	.countriesNames {
		position: relative;
		width: 100%;
		text-align: center;
		margin: 35px 0;

		@media (min-width: 320px) and (max-width: 1024px) {
			overflow-x: scroll;
			width: 100%;
		}

		.countriesNamesContent {
			@media (min-width: 320px) and (max-width: 1024px) {

			}
		}

		.countryName {
			font-size: 16px;
			padding: 3px 9px;
			border: 2px solid #000000;
			color: #ffffff;
			margin: 0 12px 12px;
			@include transition(all 0.2s ease-in-out 0s);

			&:hover {
				cursor: pointer;
				color: #c49a6c;
				border-color: #c49a6c;
				text-decoration: underline;
			}
			&.countryActive {
				color: #c49a6c;
				border-color: #c49a6c;
				text-decoration: underline;
			}
		}
	}
}