@import '../base/_variables.scss';
@import '../base/_placeholders.scss';
@import '../base/_sprites.scss';
@import url(http://fonts.googleapis.com/css?family=Open+Sans:700,400&subset=latin,cyrillic);




body {
	background-color: #000000;
}
body, a {
	font-family: 'Liberation Serif', sans-serif;
}

h1, h2, h3, h4, h5, h6, .header, #header {
	font-family: 'Open Sans', sans-serif;

	p {
		font-family: 'Open Sans', sans-serif;
	}
}

.uppercase {
	text-transform: uppercase;
}

#modules, #header {
	position: relative;
	width: $siteWidth;
	margin: 0 auto;

	@media (min-width: 320px) and (max-width: 767px) {
		width: 100%;
	}
}

.module {
	cursor: pointer;
}

a.tileItem {
	display: block;
	text-decoration: none;
}

.blurred {
	filter: blur(5px);
	-webkit-filter: blur(5px);
	-moz-filter: blur(5px);
	-o-filter: blur(5px);
	-ms-filter: blur(5px);
	filter:progid:DXImageTransform.Microsoft.Blur(PixelRadius='5');

	@media (min-width: 320px) and (max-width: 767px) {
		display: none !important;
	}
}

#header {
	padding: 30px 0 50px;
	position: relative;

	@media (min-width: 1051px) {
		&.history {
			position: fixed;
			z-index: 1;
			background: black;
			left: 50%;
			margin-left: -512px;
			top: 0;
		}
	}

	@media (min-width: 320px) and (max-width: 767px) {
		width: 100%;
		height: 150px;
	}

	.logo {
		position: absolute;
		left: 0;
		top: 30px;
		float: left;
		height: 60px;
		z-index: 5;

		&:hover {
			cursor: pointer;
		}

		.mainLogo {
			@include sprite($mainLogo);
		}

		@media (min-width: 320px) and (max-width: 767px) {
			left: 50%;
			margin-left: -97.5px;
			top: 50%;
			margin-top: -30px;
		}
	}

	.menu {
		float: right;
		position: relative;
		padding: 20px 0 0 0;

		.menuContent {
			height: 45px;
			width: 100%;
			position: relative;

			li {
				float: left;
				height: 100%;
				position: relative;
				display: block;
				margin: 0 15px;

				a {
					height: 100%;
					color: #787878;
					text-decoration: none;
					text-transform: uppercase;
					display: block;
					position: relative;


					p {
						text-align: center;
						font-size: 14px;
						font-weight: 400;

					}
					
					.menuIcon {
						height: 23px;
						position: relative;
						margin: 0 auto 2px;

						&.cultureCentreIcon {
							width: 16px;
							@include sprite($greymenuCentreImg);
						}
						&.companyIcon {
							width: 26px;
							@include sprite($greymenuCompanyImg);
						}
						&.productionIcon {
							width: 12px;
							@include sprite($greymenuProductionImg);
						}
						&.contactsIcon {
							width: 19px;
							@include sprite($greymenuContactsImg);
						}
					}

					&:hover {
						color: #ffffff;
					}
					&.active {
						color: #c49a6c;

						p.description {
							text-decoration: underline;
						}


					}
				}

				.cultureCentreModule {

					&:hover {
						.menuIcon {
							@include sprite-position($whitemenuCentreImg);
						}
					}
					&.active {
						.menuIcon {
							@include sprite-position($goldmenuCentreImg);
						}
					}
				}
				.companyModule {

					&:hover {
						.menuIcon {
							@include sprite-position($whitemenuCompanyImg);
						}
					}
					&.active {
						.menuIcon {
							@include sprite-position($goldmenuCompanyImg);
						}
					}
				}
				.productionModule {

					&:hover {
						.menuIcon {
							@include sprite-position($whitemenuProductionImg);
						}
					}
					&.active {
						.menuIcon {
							@include sprite-position($goldmenuProductionImg);
						}
					}
				}
				.contactsModule {

					&:hover {
						.menuIcon {
							@include sprite-position($whitemenuContactsImg);
						}
					}
					&.active {
						.menuIcon {
							@include sprite-position($goldmenuContactsImg);
						}
					}
				}
			}

			& li:last-child {
				margin-right: 0;
			}
		}
	}

	.fullMenu {
		padding: 30px 0 50px 20px;
		position: absolute;
		top: 0;
		right: -5px;
		width: 1044px;
		background: #000000;
		color: #ffffff;
		z-index: 2;

		@media (min-width: 320px) and (max-width: 767px) {
			position: relative;
			width: 100%;
			right: auto;
		}

		.fullMenuContent {
			padding: 47px 0 0 0;

			@media (min-width: 320px) and (max-width: 767px) {
				padding: 120px 0 0 0;
			}

			.logoutButton {
				display: none;
			}
			a {
				color: #fff;
				text-decoration: none;

				&:visited {
					color: #ffffff;
				}
			}
			.column {
				float: right;
				margin-left: 42px;

				@media (min-width: 320px) and (max-width: 767px) {
					float: none;
					margin-left: 0;
					margin-bottom: 50px;
				}

				p.last {
					margin-bottom: 10px;
				}
			}

			h3 {
				margin-bottom: 10px;

				@media (min-width: 320px) and (max-width: 767px) {
					font-size: 30px;
					font-weight: 700;
					line-height: 20px;
					text-align: center;
					font-family: 'Open Sans', Arial, sans-serif;
					margin-bottom: 35px;
				}

				&:hover a {
					cursor: pointer;
					color: #876948;
					text-decoration: underline;

				}
			}
			p {
				font-size: 12px;
				line-height: 1.6;
				text-transform: none;

				@media (min-width: 320px) and (max-width: 767px) {
					font-family: 'Open Sans', Arial, sans-serif;
					font-size: 20px;
					font-weight: 400;
					line-height: 19px;
					text-align: center;
					margin-bottom: 16px;
				}

				a {
					&:hover {
						cursor: pointer;
						color: #876948;
						text-decoration: underline;
					}
					&.active {
						cursor: pointer;
						color: #876948;
						text-decoration: underline;
					}
				}

			}
		}
	}

	.contentCover {
		position: fixed;
		width: 100%;
		height: 100%;
		left: 0;
		top: 0;
		background: rgba(0, 0, 0, 0.5);
		z-index: 1;
		visibility: visible;
		opacity: 1;

		@include transition(all 0.1s linear 0s);

		&.hidden {
			visibility: hidden;
			opacity: 0;
/*			z-index: -5;*/
		}
		&:hover {
			cursor: pointer;
			background: rgba(0, 0, 0, 0.3);
		}
	}

	.fullMenuToggle {
		position: absolute;
		right: -148px;
		top: 29px;
		width: 19px;
		height: 19px;
		z-index: 2;
		cursor: pointer;

		@media (min-width: 320px) and (max-width: 767px) {
			top: 20px;
			right: 16px;
			width: 45px !important;
			height: 45px !important;
			border: 13px solid #000000;
		}

		&.Open {
			@include sprite($fullMenuOpen);

			&:hover {
				@include sprite-position($activefullMenuOpen);
			}
		}
		&.Close {
			@include sprite($fullMenuClose);
		}

		&:hover {
			cursor: pointer;
		}
		
		@media (min-width: 1024px) and (max-width: 1366px) {
			right: -50px;
		}
	}

	.ageCheck {
		visibility: hidden;
		opacity: 0;
		position: fixed;
		width: 100%;
		height: 100%;
		left: 0;
		top: 0;
		z-index: -9;
		background: rgba(0, 0, 0, 0.8);
		@include transition(all 0.1s ease-in-out 0s);

		&.visible {
			z-index: 999;
			visibility: visible;
			opacity: 1;
		}

		.ageCheckContent {
			position: absolute;
			top: 50%;
			left: 50%;
			@include transform(translate(-50%, -50%));
			width: 560px;
			background: #000;
			padding: 50px;
			text-align: center;
			box-shadow: 0 0 50px 20px rgba(60, 60, 60, 0.75);

			.ageLogo {
				font-weight: bold;
				padding: 0 63px 40px;
				margin-bottom: 40px;
				border-bottom: 1px solid #ffffff;
				width: 100%;

				img {
					width: 100%;
				}
			}

			.warning {
				color: #ffffff;
				margin-bottom: 17px;
				line-height: 1.2;

				.golded {
					color: #c49a6c;
				}
			}

			.transparentBordered {
				font-size: 18px;
				padding: 7px 9px;
				border: 2px solid #ffffff;
				color: #ffffff;
				margin: 0;
				width: 55px;
				@include transition(all 0.1s ease-in-out 0s);

				&:hover {
					cursor: pointer;
					background: #ffffff;
					color: #000000;
				}
			}
		}
	}
}

#footer {
	width: $siteWidth;
	margin: 0 auto;
	position: relative;
	color: #585858;
	font-size: 12px;
	line-height: 1;
	padding: 45px 0 55px;

	@media (min-width: 320px) and (max-width: 767px) {
		width: 100%;
		padding: 0 30px;
		margin-bottom: 30px;
		margin-top: 25px;
	}

	.leftColumn {
		float: left;
	}
	.rightColumn {
		float: right;

		.images {
			a {
				width: 20px;
				height: 19px;
				display: inline-block;

				&.vkIcon {
					@include sprite($vkIcon);

					&:hover {
						@include sprite-position($goldvkIcon);
					}
				}
				&.fbIcon {
					@include sprite($fbIcon);

					&:hover {
						@include sprite-position($goldfbIcon);
					}
				}
			}
		}
	}


	.joinSocial {
		float: right;
		text-align: right;
	}
	.images {
		float: right;
		margin-left: 15px;
	}
}

#lightGallery-action {
	@include transition(all 150ms ease-in-out 0s);
}

.loginPopupContent {
	.socialLogin {
/*		@media (min-width: 768px) and (max-width: 1050px) {
			padding: 40px;
		}*/
	}
}

.socialLogin {
	margin-bottom: 30px;

	@media (min-width: 320px) and (max-width: 767px) {
		margin-bottom: 15px;
	}

	.socialLoginBtn {
		float: left;
		width: 229px;
		height: 43px;
		opacity: 0.8;
		@include transition(opacity 150ms ease-in-out 0s);
		padding-left: 42px;
		padding-top: 13px;
		font-family: 'Open Sans', Arial, sans-serif;
		font-weight: bold;
		font-size: 13px;

		@media (min-width: 320px) and (max-width: 767px) {
			width: 152px;
			height: 37px;
			font-size: 8px;
		}

/*		@media (min-width: 768px) and (max-width: 1050px) {
			width: 189px;
			height: 39px;
			font-size: 10px;
		}*/

		&:hover {
			cursor: pointer;
			opacity: 1;
		}

		&.disabled {
			@include filter(grayscale(100%));
		}
	}
	.facebookLoginBtn {
		background-image: url('#{$imgPath}facebookLoginBtn.png');
		margin-right: 12px;

		@media (min-width: 320px) and (max-width: 767px) {
			margin-right: 5px;
		}
	}
	.vkLoginBtn {
		background-image: url('#{$imgPath}vkLoginBtn.png');
	}
}

.registrationPopup {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 999;

	.closeRegistrationPopupBg {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background: rgba(0, 0, 0, 0.5);
	}

	.closeRegistrationPopupBtn {
		position: absolute;
		top: 15px;
		right: 15px;
		width: 19px;
		height: 19px;
		@include sprite($fullMenuClose);
		opacity: 0.8;
		@include transition(opacity 150ms ease-in-out 0s);

		&:hover {
			cursor: pointer;
			opacity: 1;
		}
	}



	.registrationPopupContent {
		position: absolute;
		width: 610px;
		background: #000;
		left: 50%;
		top: 50%;
		@include transform(translateY(-50%));
		margin-left: -305px;
		color: #FFFFFF;
		padding: 35px 70px;
		text-align: center;
		box-shadow: 0 0 50px 20px rgba(60, 60, 60, 0.75);
		@include transition(box-shadow 150ms ease-in-out 0s);

/*		@media (min-width: 768px) and (max-width: 1050px) {
			width: 510px;
			padding: 35px 60px;
			margin-left: -255px;
		}*/

		@media (min-width: 320px) and (max-width: 767px) {
			width: 370px;
			padding: 15px 30px;
			margin-left: -185px;
		}

		&.disabled {
			box-shadow: 0 0 40px 15px rgba(34, 34, 34, 0.75);
		}

		h1 {
			font-size: 26px;
			margin-bottom: 33px;

			@media (min-width: 320px) and (max-width: 767px) {
				margin-bottom: 15px;
			}
		}

		.agreedWithRules {
			font-weight: bold;
			margin-bottom: 30px;

			@media (min-width: 320px) and (max-width: 767px) {
				margin-bottom: 15px;
			}

			.rulesPopup {
				color: #c49a6c;
				text-decoration: underline;
			}

			input[type=checkbox].css-checkbox {
				position:absolute; z-index:-1000; left:-1000px; overflow: hidden; clip: rect(0 0 0 0); height:1px; width:1px; margin:-1px; padding:0; border:0;
			}

			input[type=checkbox].css-checkbox + label.css-label {
				padding-left:41px;
				height:32px;
				display:inline-block;
				line-height:33px;
				background-repeat:no-repeat;
				background-position: 0 0;
				font-size:16px;
				vertical-align:middle;
				cursor:pointer;

			}

			input[type=checkbox].css-checkbox:checked + label.css-label {
				background-position: 0 -33px;
			}
			label.css-label {
				background-image:url(http://csscheckbox.com/checkboxes/u/csscheckbox_995c9dfe78ba2f06c9eda81011706a4b.png);
				-webkit-touch-callout: none;
				-webkit-user-select: none;
				-khtml-user-select: none;
				-moz-user-select: none;
				-ms-user-select: none;
				user-select: none;
			}
		}

		.registrationForm {

			h5 {
				margin-bottom: 26px;

				@media (min-width: 320px) and (max-width: 767px) {
					margin-bottom: 15px;
				}
			}

			input {
				background: none;
				border: 2px solid #ffffff;
				color: #ffffff;
				font-size: 16px;
				text-transform: uppercase;
				text-align: center;
				padding: 7px;
				margin-bottom: 24px;
			}

			.registrationNameWrap {

				input {
					width: 215px;

/*					@media (min-width: 768px) and (max-width: 1050px) {
						width: 178px;
					}*/

					@media (min-width: 320px) and (max-width: 767px) {
						width: 145px;
					}
				}
				input[name="firstName"] {
					margin-right: 30px;

					@media (min-width: 320px) and (max-width: 767px) {
						margin-right: 15px;
					}
				}
			}

			.registrationAdditionalFieldsWrap {
				input {
					width: 370px;

					@media (min-width: 320px) and (max-width: 767px) {
						width: 100%;
					}

/*					@media (min-width: 768px) and (max-width: 1050px) {
						width: 100%;
					}*/
				}
			}

			.registrationFormBottom {
				margin-top: 22px;

				.authorizationButton, button[type="submit"] {
					background: none;
					border: 2px solid #ffffff;
					color: #ffffff;
					font-size: 16px;
					text-align: center;
					padding: 7px;
					@include transition(all 150ms ease-in-out 0s);

					&:hover {
						cursor: pointer;
						background: #FFFFFF;
						color: #000;

					}
				}

				.authorizationButton {
					float: left;
				}
				button[type="submit"] {
					float: right;
					width: 127px;

					&:disabled, .disabled {
						color: #333333;
						border-color: #333333;
					}

				}
			}
		}
	}

	.registrationPopupSuccess, .registrationPopupError, .loginPopupError, .loginPopupSuccess, .registrationConfirmationPopupSuccess {
		position: absolute;
		width: 610px;
		background: #000;
		left: 50%;
		top: 50%;
		margin-top: -153px;
		margin-left: -305px;
		color: #FFFFFF;
		padding: 35px 70px;
		text-align: center;

		@media (min-width: 320px) and (max-width: 767px) {
			width: 370px;
			margin-top: 0;
			margin-left: 0;
			@include transform(translate(-50%, -50%));
			padding: 15px 30px;
		}

		h1 {
			font-size: 26px;
			margin-bottom: 49px;
		}

		p {
			font-size: 16px;
			margin-bottom: 49px;
			line-height: 1.8;
		}

		button {
			background: none;
			border: 2px solid #ffffff;
			color: #ffffff;
			font-size: 16px;
			text-align: center;
			padding: 7px 35px;
			@include transition(all 150ms ease-in-out 0s);

			&:hover {
				cursor: pointer;
				background: #FFFFFF;
				color: #000;
			}
		}
	}

	.registrationConfirmationPopupSuccess {
		margin-top: -65px;
		padding: 35px 25px;
	}

	.loginPopupContent {
		position: absolute;
		width: 610px;
		background: #000;
		left: 50%;
		top: 50%;
		@include transform(translateY(-50%));
		margin-left: -305px;
		color: #FFFFFF;
		padding: 35px 70px;
		text-align: center;

		@media (min-width: 320px) and (max-width: 767px) {
			width: 370px;
			padding: 15px 30px;
			margin-left: -185px;
		}

		h1 {
			font-size: 26px;
			margin-bottom: 49px;
		}

		.authorizationForm {

			input {
				background: none;
				border: 2px solid #ffffff;
				color: #ffffff;
				font-size: 16px;
				text-transform: uppercase;
				text-align: center;
				padding: 7px;
				margin-bottom: 24px;
				width: 370px;

				@media (min-width: 320px) and (max-width: 767px) {
					width: 100%;
				}
			}

			.forgotPasswordLink {
				text-align: center;
				color: #c49a6c;
				text-decoration: underline;
				
				&:hover {
					cursor: pointer;

				}
			}

			.authorizationFormBottom {
				margin-top: 50px;

				button {
					background: none;
					border: 2px solid #ffffff;
					color: #ffffff;
					font-size: 16px;
					text-align: center;
					padding: 7px 35px;
					@include transition(all 150ms ease-in-out 0s);

					&:hover {
						cursor: pointer;
						background: #FFFFFF;
						color: #000;
					}
				}
			}
		}
	}

	.forgotPasswordWrapper {
		position: absolute;
		width: 610px;
		background: #000;
		left: 50%;
		top: 50%;
		margin-top: -153px;
		margin-left: -305px;
		color: #FFFFFF;
		padding: 35px 70px;
		text-align: center;

		@media (min-width: 320px) and (max-width: 767px) {
			width: 370px;
			margin-top: 0;
			margin-left: 0;
			@include transform(translate(-50%, -50%));
			padding: 15px 30px;
		}

		h1 {
			font-size: 26px;
			margin-bottom: 49px;
		}

		.forgotPasswordForm {

			input {
				background: none;
				border: 2px solid #ffffff;
				color: #ffffff;
				font-size: 16px;
				text-transform: uppercase;
				text-align: center;
				padding: 7px;
				margin-bottom: 24px;
				width: 370px;

				@media (min-width: 320px) and (max-width: 767px) {
					width: 100%;
				}
			}

			p {
				color: #313131;
				font-size: 12px;
			}


			.forgotPasswordFormBottom {
				margin-top: 50px;

				button {
					background: none;
					border: 2px solid #ffffff;
					color: #ffffff;
					font-size: 16px;
					text-align: center;
					padding: 7px 35px;
					@include transition(all 150ms ease-in-out 0s);

					&:hover {
						cursor: pointer;
						background: #FFFFFF;
						color: #000;
					}
				}
			}
		}
	}

	.resetPasswordFormWrap {
		position: absolute;
		width: 610px;
		background: #000;
		left: 50%;
		top: 50%;
		margin-top: -185px;
		margin-left: -305px;
		color: #FFFFFF;
		padding: 35px 70px;
		text-align: center;

		@media (min-width: 320px) and (max-width: 767px) {
			width: 370px;
		}

		.close {
			position: absolute;
			top: 25px;
			right: 25px;
			width: 19px;
			height: 19px;
			@include sprite($fullMenuClose);
			opacity: 0.8;
			@include transition(opacity 150ms ease-in-out 0s);

			&:hover {
				cursor: pointer;
				opacity: 1;
			}
		}

		h1 {
			font-size: 26px;
			margin-bottom: 49px;
		}

		.resetPasswordForm {

			input {
				background: none;
				border: 2px solid #ffffff;
				color: #ffffff;
				font-size: 16px;
				text-transform: uppercase;
				text-align: center;
				padding: 7px;
				margin-bottom: 24px;
				width: 370px;
			}

			p {
				color: #313131;
				font-size: 12px;
			}

			.error {
				opacity: 0;
				color:  #ff5858;
				font-size: 13px;
				font-weight: 400;
				text-align: center;
			}

			.resetPasswordFormBottom {
				margin-top: 50px;

				button {
					background: none;
					border: 2px solid #ffffff;
					color: #ffffff;
					font-size: 16px;
					text-align: center;
					padding: 7px 35px;
					@include transition(all 150ms ease-in-out 0s);

					&:hover {
						cursor: pointer;
						background: #FFFFFF;
						color: #000;
					}
				}
			}
		}
	}

	.resetPasswordSuccess {
		position: absolute;
		width: 610px;
		background: #000;
		left: 50%;
		top: 50%;
		margin-top: -140px;
		margin-left: -305px;
		color: #FFFFFF;
		padding: 30px 70px;
		text-align: center;

		@media (min-width: 320px) and (max-width: 767px) {
			width: 370px;
		}

		.close {
			position: absolute;
			top: 25px;
			right: 25px;
			width: 19px;
			height: 19px;
			@include sprite($fullMenuClose);
			opacity: 0.8;
			@include transition(opacity 150ms ease-in-out 0s);

			&:hover {
				cursor: pointer;
				opacity: 1;
			}
		}

		h1 {
			font-size: 26px;
			margin-bottom: 30px;
		}

		p {
			font-size: 16px;
		}
	}
}

.closeBtnSprite {
	@include sprite($fullMenuClose);
}

#healthWarning {
	position: relative;
	max-width: 1366px;
	margin: 0 auto;

	img {
		width: 100%;
	}
}

#modules {
	min-height: 70%;
}

@media (min-width: 768px) and (max-width: 1050px) {
	$siteWidth: 688px;

	#modules, #header {
		position: relative;
		width: $siteWidth;
		margin: 0 auto;
	}

	#header {

		.fullMenuToggle {
			right: 0;
			z-index: 2;
		}

		.languagesWrapper {
			right: -5px;
			z-index: 2;
		}

		.menu {
			padding: 20px 60px 0 0;

			.menuContent {

				li {
					margin: 0 13px;

					a {
						.menuIcon {
							@include transform(scale(0.8));
						}

						p {
							font-size: 10px;
						}
					}
				}
			}
		}

		.fullMenu {

			.fullMenuContent {

/*				h3 {
					font-size: 12px;
				}

				p {
					font-size: 10px;
				}*/
			}
		}

	}

	#footer {
		width: $siteWidth;
	}

}

.backButtonWrap {
	text-align: center;
	margin: 40px 0;

	button {
		font-family: 'Open Sans', Arial, sans-serif;
		font-size: 16px;

		&:hover {
			cursor: pointer;
			text-decoration: underline;
		}
	}
}

body {

	&.grey {
		background: #dadddc;

		.text {
			h1 {
				color: #515151 !important;
			}
			p {
				color: #515151 !important;
			}
			div {
				color: #515151 !important;
			}
		}

		.degustationWrapper {
			color: #515151 !important;
/*			h1 {
				color: #515151 !important;
			}
			h3 {
				color: #515151 !important;
			}
			p {
				color: #515151 !important;
			}*/

			button {
				color: #515151 !important;

				&:hover {
					color: #c49a6c !important;
				}
			}
		}

		.feedbackWrapper {
			& > h1 {
				color: #515151;
			}

			.feedbackList .feedbackItem {
				color: #515151;
			}

			.sendFeedback {
				color: #515151;

				textarea {
					color: #515151;
					border: 2px solid #515151;
				}

				.transparentBordered {
					color: #515151;

					&:hover {
						color: #c49a6c;
					}

				}
			}

			.moreFeedbackWrapper {
				.transparentBordered {
					color: #515151;

					&:hover {
						color: #c49a6c;
					}
				}
			}
		}

		.buttons {
			button {
				color: #515151 !important;

				&:hover {
					color: #c49a6c !important;
				}
			}
		}


		#header {

			.fullMenu {
				background: none;

				.fullMenuContent {

					a {
						@media (min-width: 320px) and (max-width: 767px) {
							color: #515151;
						}
					}
				}
			}

			.menu .menuContent li a {
				color: #515151;

				&:hover {
					color: #FFFFFF;
				}

				&.active {
					color: #c49a6c;
				}
			}

			.contentCover {
				@media (min-width: 320px) and (max-width: 767px) {
					background: #dadddc;
				}
			}
		}
	}
}

.languagesWrapper {
	position: absolute;
	right: -156px;
	top: 70px;

	@media (min-width: 1024px) and (max-width: 1366px) {
		right: -55px;
	}

	@media (min-width: 320px) and (max-width: 767px) {
		right: 22px;
	}

	.isoLang {
		background-color: rgba(255, 255, 255, 0.1);

		&.active {
			color: #c49a6c;
		}
	}

	.isoLang {
		font-family: 'Open Sans', Arial, sans-serif;
		color:  #ffffff;
		font-size: 11px;
		font-weight: 400;
		text-transform: uppercase;
		text-decoration: none;
		padding: 5px;
		//display: none;
		display: block;

		&:hover {
			color: #c49a6c;
		}

		&.active {
			display: block;
		}
	}
}

.rulesPopupContent {
	display: block;
	position: absolute;
	top: 50%;
	left: 50%;
	width: 850px;
	height: 670px;
	z-index: 999;
	margin-left: -425px;
	margin-top: -335px;
	background-color: #000;
	color: #ffffff;

	@media (min-width: 320px) and (max-width: 767px) {
		width: 370px;
		height: 535px;
		margin-left: -185px;
		margin-top: -267.5px;
	}

	.close {
		position: absolute;
		top: 25px;
		right: 25px;
		width: 19px;
		height: 19px;
		@include sprite($fullMenuClose);
		opacity: 0.8;
		@include transition(opacity 150ms ease-in-out 0s);

		&:hover {
			cursor: pointer;
			opacity: 1;
		}
	}
	
	h1 {
		font-size: 26px;
		text-align: center;
		margin: 45px 0 60px;
	}

	.description {
		padding: 0 30px;
		height: 435px;
		overflow: auto;
		margin-bottom: 45px;

		@media (min-width: 320px) and (max-width: 767px) {
			height: 270px;
		}

		font-family: Arial, Helvetica, sans-serif !important;
		font-size: 13px !important;
		line-height: 1.3 !important;

		div {

			font-family: Arial, Helvetica, sans-serif !important;
			font-size: 13px !important;
			line-height: 1.3 !important;
		}
		p {
			font-family: Arial, Helvetica, sans-serif !important;
			font-size: 13px !important;
			line-height: 1.3 !important;
		}
	}

	&.disabled {
		display: none;
	}

	.buttons {
		text-align: center;
	}
	button {
		background: none;
		border: 2px solid #ffffff;
		color: #ffffff;
		font-size: 16px;
		text-align: center;
		padding: 7px 45px;
		@include transition(all 150ms ease-in-out 0s);

		&:hover {
			cursor: pointer;
			background: #FFFFFF;
			color: #000;

		}
	}
}

.rulesPopup {

	&:hover {
		cursor: pointer;
	}
}