@charset "UTF-8";
@import '../../../../../../css/base/_placeholders.scss';
@import '../../../../../../css/base/_variables.scss';


.awardsWrapper {
	position: relative;
	width: 100%;

	.awardsDescription {
		width: 65%;
		line-height: 1.5;
		color: #FFFFFF;

		@media (min-width: 320px) and (max-width: 767px) {
			width: 100%;
			padding: 0 25px;
		}

		h1 {
			font-size: 26px;
			margin-bottom: 10px;
		}
		.content {
			font-size: 14px;
		}
	}

	@media (min-width: 320px) and (max-width: 1050px) {

		.yearsWrapper {
			overflow: hidden;
			position: relative;

			&:before {
				content: '';
				display: block;
				position: absolute;
				width: 10%;
				height: 100%;
				left: 0;
				top: 0;

				background: -moz-linear-gradient(left,  rgba(0,0,0,1) 0%, rgba(0,0,0,0) 100%);
				background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(0,0,0,1)), color-stop(100%,rgba(0,0,0,0)));
				background: -webkit-linear-gradient(left,  rgba(0,0,0,1) 0%,rgba(0,0,0,0) 100%);
				background: -o-linear-gradient(left,  rgba(0,0,0,1) 0%,rgba(0,0,0,0) 100%);
				background: -ms-linear-gradient(left,  rgba(0,0,0,1) 0%,rgba(0,0,0,0) 100%);
				background: linear-gradient(to right,  rgba(0,0,0,1) 0%,rgba(0,0,0,0) 100%);
				filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#00000000',GradientType=1 );

				z-index: 1;
			}

			&:after {
				content: '';
				display: block;
				position: absolute;
				width: 10%;
				height: 100%;
				right: 0;
				top: 0;

				background: -moz-linear-gradient(left,  rgba(0,0,0,0) 0%, rgba(0,0,0,1) 100%);
				background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(0,0,0,0)), color-stop(100%,rgba(0,0,0,1)));
				background: -webkit-linear-gradient(left,  rgba(0,0,0,0) 0%,rgba(0,0,0,1) 100%);
				background: -o-linear-gradient(left,  rgba(0,0,0,0) 0%,rgba(0,0,0,1) 100%);
				background: -ms-linear-gradient(left,  rgba(0,0,0,0) 0%,rgba(0,0,0,1) 100%);
				background: linear-gradient(to right,  rgba(0,0,0,0) 0%,rgba(0,0,0,1) 100%);
				filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#000000',GradientType=1 );

				z-index: 1;
			}

		}

	}

	.years {
		position: relative;
		width: 100%;
		text-align: center;
		margin: 35px 0 55px;

		@media (min-width: 320px) and (max-width: 1050px) {
			overflow-x: scroll;
			width: 100%;
		}

		.yearsContent {
			@media (min-width: 320px) and (max-width: 1050px) {

			}
		}

		.year {
			font-size: 16px;
			padding: 3px 9px;
			border: 2px solid #000000;
			color: #ffffff;
			margin: 0 12px 12px;
			@include transition(all 0.2s ease-in-out 0s);

			&:hover {
				cursor: pointer;
				color: #c49a6c;
				border-color: #c49a6c;
				text-decoration: underline;
			}
			&.active {
				color: #c49a6c;
				border-color: #c49a6c;
				text-decoration: underline;
			}
		}
	}

	.awardsList {

		@media (min-width: 320px) and (max-width: 767px) {
			padding: 0 25px;
		}

		.greatAwards {
			float: left;

			@media (min-width: 320px) and (max-width: 767px) {
				float: none;
				width: 100%;
			}

			.awardsListItem {
				color: #FFFFFF;
				text-align: center;
				float: left;
				position: relative;
				padding: 0 10px;
				width: 47%;
				line-height: 1.8;
				margin: 0 15px 100px 0;
				font-size: 12px;

				@media (min-width: 320px) and (max-width: 767px) {
					font-size: 16px;
					margin: 0 3% 10% 0;
				}

				.image {
					height: 260px;
				}
			}

			.awardsListItem:nth-child(2n+3) {
				clear: both;
			}
		}

		.smallAwards {
			float: right;
			width: 500px;

			@media (min-width: 320px) and (max-width: 767px) {
				width: 100%;
				float: none;
			}

			.awardsListItem {
				margin-bottom: 50px;

				ol {
					list-style: decimal;
					padding: 0 0 0 18px;
				}

				h4 {
					color: #c49a6c;
					margin-bottom: 12px;
					line-height: 1.2;
				}
				.content {
					color: #FFFFFF;
					font-size: 12px;
					line-height: 1.8;
				}
			}
		}
	}
}

@media (min-width: 1051px) {

	.awardsWrapper {

		.awardsList {

			.greatAwards {
				width: 502px;
				margin-right: 20px;

				& .awardsListItem:nth-child(2n) {
					margin-right: 0;
				}
			}
		}
	}
}

@media (min-width: 768px) and (max-width: 1050px) {

	.awardsWrapper {

		.awardsDescription {
			width: 100%;
		}

		.awardsList {

			.greatAwards {
				width: 42%;
				margin-right: 3%;

				.awardsListItem {
					float: none;
					width: 100%;
				}

				& .awardsListItem:nth-child(2n) {
					margin-right: 0;
				}
			}

			.smallAwards {
				width: 55%;
			}
		}
	}
}