.awardsWrapper {
  position: relative;
  width: 100%; }
  .awardsWrapper .awardsDescription {
    width: 65%;
    line-height: 1.5;
    color: #FFFFFF; }
    @media (min-width: 320px) and (max-width: 767px) {
      .awardsWrapper .awardsDescription {
        width: 100%;
        padding: 0 25px; } }
    .awardsWrapper .awardsDescription h1 {
      font-size: 26px;
      margin-bottom: 10px; }
    .awardsWrapper .awardsDescription .content {
      font-size: 14px; }
  @media (min-width: 320px) and (max-width: 1050px) {
    .awardsWrapper .yearsWrapper {
      overflow: hidden;
      position: relative; }
      .awardsWrapper .yearsWrapper:before {
        content: '';
        display: block;
        position: absolute;
        width: 10%;
        height: 100%;
        left: 0;
        top: 0;
        background: -moz-linear-gradient(left, black 0%, transparent 100%);
        background: -webkit-gradient(linear, left top, right top, color-stop(0%, black), color-stop(100%, transparent));
        background: -webkit-linear-gradient(left, black 0%, transparent 100%);
        background: -o-linear-gradient(left, black 0%, transparent 100%);
        background: -ms-linear-gradient(left, black 0%, transparent 100%);
        background: linear-gradient(to right, black 0%, transparent 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#00000000',GradientType=1 );
        z-index: 1; }
      .awardsWrapper .yearsWrapper:after {
        content: '';
        display: block;
        position: absolute;
        width: 10%;
        height: 100%;
        right: 0;
        top: 0;
        background: -moz-linear-gradient(left, transparent 0%, black 100%);
        background: -webkit-gradient(linear, left top, right top, color-stop(0%, transparent), color-stop(100%, black));
        background: -webkit-linear-gradient(left, transparent 0%, black 100%);
        background: -o-linear-gradient(left, transparent 0%, black 100%);
        background: -ms-linear-gradient(left, transparent 0%, black 100%);
        background: linear-gradient(to right, transparent 0%, black 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#000000',GradientType=1 );
        z-index: 1; } }
  .awardsWrapper .years {
    position: relative;
    width: 100%;
    text-align: center;
    margin: 35px 0 55px; }
    @media (min-width: 320px) and (max-width: 1050px) {
      .awardsWrapper .years {
        overflow-x: scroll;
        width: 100%; } }
    .awardsWrapper .years .year {
      font-size: 16px;
      padding: 3px 9px;
      border: 2px solid #000000;
      color: #ffffff;
      margin: 0 12px 12px;
      -webkit-transition: all 0.2s ease-in-out 0s;
      -moz-transition: all 0.2s ease-in-out 0s;
      transition: all 0.2s ease-in-out 0s; }
      .awardsWrapper .years .year:hover {
        cursor: pointer;
        color: #c49a6c;
        border-color: #c49a6c;
        text-decoration: underline; }
      .awardsWrapper .years .year.active {
        color: #c49a6c;
        border-color: #c49a6c;
        text-decoration: underline; }
  @media (min-width: 320px) and (max-width: 767px) {
    .awardsWrapper .awardsList {
      padding: 0 25px; } }
  .awardsWrapper .awardsList .greatAwards {
    float: left; }
    @media (min-width: 320px) and (max-width: 767px) {
      .awardsWrapper .awardsList .greatAwards {
        float: none;
        width: 100%; } }
    .awardsWrapper .awardsList .greatAwards .awardsListItem {
      color: #FFFFFF;
      text-align: center;
      float: left;
      position: relative;
      padding: 0 10px;
      width: 47%;
      line-height: 1.8;
      margin: 0 15px 100px 0;
      font-size: 12px; }
      @media (min-width: 320px) and (max-width: 767px) {
        .awardsWrapper .awardsList .greatAwards .awardsListItem {
          font-size: 16px;
          margin: 0 3% 10% 0; } }
      .awardsWrapper .awardsList .greatAwards .awardsListItem .image {
        height: 260px; }
    .awardsWrapper .awardsList .greatAwards .awardsListItem:nth-child(2n+3) {
      clear: both; }
  .awardsWrapper .awardsList .smallAwards {
    float: right;
    width: 500px; }
    @media (min-width: 320px) and (max-width: 767px) {
      .awardsWrapper .awardsList .smallAwards {
        width: 100%;
        float: none; } }
    .awardsWrapper .awardsList .smallAwards .awardsListItem {
      margin-bottom: 50px; }
      .awardsWrapper .awardsList .smallAwards .awardsListItem ol {
        list-style: decimal;
        padding: 0 0 0 18px; }
      .awardsWrapper .awardsList .smallAwards .awardsListItem h4 {
        color: #c49a6c;
        margin-bottom: 12px;
        line-height: 1.2; }
      .awardsWrapper .awardsList .smallAwards .awardsListItem .content {
        color: #FFFFFF;
        font-size: 12px;
        line-height: 1.8; }

@media (min-width: 1051px) {
  .awardsWrapper .awardsList .greatAwards {
    width: 502px;
    margin-right: 20px; }
    .awardsWrapper .awardsList .greatAwards .awardsListItem:nth-child(2n) {
      margin-right: 0; } }
@media (min-width: 768px) and (max-width: 1050px) {
  .awardsWrapper .awardsDescription {
    width: 100%; }
  .awardsWrapper .awardsList .greatAwards {
    width: 42%;
    margin-right: 3%; }
    .awardsWrapper .awardsList .greatAwards .awardsListItem {
      float: none;
      width: 100%; }
    .awardsWrapper .awardsList .greatAwards .awardsListItem:nth-child(2n) {
      margin-right: 0; }
  .awardsWrapper .awardsList .smallAwards {
    width: 55%; } }

/*# sourceMappingURL=awards.css.map */
