.productCategoryWrapper .productItem, .productCategoryWrapper .productItem .tileBg {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center; }

@media (min-width: 320px) and (max-width: 767px) {
  .productCategoryWrapper {
    padding: 0 25px; } }
.productCategoryWrapper .categoryDescription {
  color: #FFFFFF;
  width: 100%;
  line-height: 1.4;
  margin-bottom: 50px; }
  .productCategoryWrapper .categoryDescription h1 {
    text-transform: uppercase;
    font-size: 22px;
    margin-bottom: 10px; }
  .productCategoryWrapper .categoryDescription .content {
    font-size: 14px; }
.productCategoryWrapper .productItem {
  position: relative;
  float: left;
  width: 246px;
  height: 343px;
  margin: 0 13px 13px 0;
  padding: 27px 20px 20px 20px;
  box-sizing: border-box;
  opacity: 1;
  color: #FFFFFF;
  text-align: center;
  font-weight: bold;
  -webkit-transition: all 150ms ease-in-out 0s;
  -moz-transition: all 150ms ease-in-out 0s;
  transition: all 150ms ease-in-out 0s;
  overflow: hidden; }
  @media (min-width: 320px) and (max-width: 767px) {
    .productCategoryWrapper .productItem {
      width: 47%;
      margin: 0 3% 3% 0; } }
  .productCategoryWrapper .productItem .image {
    height: 245px;
    text-align: center;
    margin-bottom: 22px;
    -webkit-transition: -webkit-transform 300ms ease-in-out 0s;
    -moz-transition: -moz-transform 300ms ease-in-out 0s;
    transition: transform 300ms ease-in-out 0s; }
    .productCategoryWrapper .productItem .image img {
      height: 116%; }
  .productCategoryWrapper .productItem .header {
    line-height: 1.2;
    font-size: 14px;
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 20px;
    width: 100%;
    min-height: 73px;
    z-index: 1; }
    .productCategoryWrapper .productItem .header h1 {
      text-transform: uppercase; }
    .productCategoryWrapper .productItem .header h2 {
      font-weight: normal;
      -webkit-transition: color 150ms ease-in-out 0s;
      -moz-transition: color 150ms ease-in-out 0s;
      transition: color 150ms ease-in-out 0s; }
  .productCategoryWrapper .productItem .tileBg {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
    -webkit-transition: all 50ms ease-in-out 0s;
    -moz-transition: all 50ms ease-in-out 0s;
    transition: all 50ms ease-in-out 0s; }
  .productCategoryWrapper .productItem .darkBg {
    background-color: rgba(0, 0, 0, 0.2) !important;
    opacity: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0; }
  .productCategoryWrapper .productItem:hover {
    cursor: pointer; }
    .productCategoryWrapper .productItem:hover .image {
      -webkit-transform: scale(1.1);
      -moz-transform: scale(1.1);
      -ms-transform: scale(1.1);
      -o-transform: scale(1.1);
      transform: scale(1.1);
      /*
      				background-color: rgba(0, 0, 0, 0.5);*/ }
      .productCategoryWrapper .productItem:hover .image img {
        opacity: 0.8; }
    .productCategoryWrapper .productItem:hover .darkBg {
      opacity: 1; }
    .productCategoryWrapper .productItem:hover .header h2 {
      color: #ffffff !important; }

@media (min-width: 1051px) {
  .productCategoryWrapper .productCategoryProductsList .productItem:nth-child(4n) {
    margin-right: 0; } }
@media (min-width: 768px) and (max-width: 1050px) {
  .productCategoryWrapper .categoryDescription {
    width: 100%; }
  .productCategoryWrapper .productItem {
    width: 222px;
    margin-right: 11px; }
  .productCategoryWrapper .productCategoryProductsList .productItem:nth-child(3n) {
    margin-right: 0; } }
.productCategoryWrapper .backButtonWrap button {
  color: #ffffff; }
  .productCategoryWrapper .backButtonWrap button:hover {
    color: #c49a6c; }

/*# sourceMappingURL=productCategory.css.map */
