@charset "UTF-8";
@import '../../../../../../css/base/_placeholders.scss';
@import '../../../../../../css/base/_variables.scss';

.contactsWrapper {
	color: #ffffff;

	h1 {
		font-size: 28px;
		margin: 10px 0 40px;

		@media (min-width: 320px) and (max-width: 767px) {
			padding: 0 30px;
		}
	}

	.leftColumn {
		float: left;
		width: 40%;

		@media (min-width: 320px) and (max-width: 767px) {
			float: none;
			width: 100%;
			padding: 0 30px;
		}
	}
	.rightColumn {
		$size: 512px;

		float: right;
		width: $size;

		#contactsMap {
			$padding: 30px;
			background: #ffffff;

			padding: $padding;

			iframe {
				width: $size - $padding * 2 !important;
				height: $size - $padding * 2 !important;
			}
		}

		@media (min-width: 320px) and (max-width: 767px) {
			float: none;
			width: 100%;

			#contactsMap {
				background: none;

				iframe {
					width: 100% !important;
					height: 320px !important;
				}
			}
		}
	}

	.contactsItem {
		margin-bottom: 40px;
		@include transition(color 0.3s ease-in-out 0s);

		&:hover {
			cursor: pointer;
			color: #c49a6c;
		}
		&.active {
			color: #c49a6c;
		}

		h2 {
			margin-bottom: 15px;
			line-height: 1.4;
		}
		.content {
			line-height: 1.6;
			font-size: 12px;
		}
	}
}

@media (min-width: 768px) and (max-width: 1050px) {

	.contactsWrapper {

		h1 {
			margin: 40px 0 40px;
		}

		.rightColumn {
			float: none;
			width: 100%;

			#contactsMap {
				padding: 0;

				iframe {
					width: 688px !important;
					height: 688px !important;
				}
			}
		}

		.leftColumn {
			float: none;
			width: 100%;

			.contactsItem {
				float: left;
				width: 47%;
				margin-right: 6%;
			}
		}

		.leftColumn .contactsItem:nth-child(2n) {
			margin-right: 0;
		}
	}
}