.contactsWrapper {
  color: #ffffff; }
  .contactsWrapper h1 {
    font-size: 28px;
    margin: 10px 0 40px; }
    @media (min-width: 320px) and (max-width: 767px) {
      .contactsWrapper h1 {
        padding: 0 30px; } }
  .contactsWrapper .leftColumn {
    float: left;
    width: 40%; }
    @media (min-width: 320px) and (max-width: 767px) {
      .contactsWrapper .leftColumn {
        float: none;
        width: 100%;
        padding: 0 30px; } }
  .contactsWrapper .rightColumn {
    float: right;
    width: 512px; }
    .contactsWrapper .rightColumn #contactsMap {
      background: #ffffff;
      padding: 30px; }
      .contactsWrapper .rightColumn #contactsMap iframe {
        width: 452px !important;
        height: 452px !important; }
    @media (min-width: 320px) and (max-width: 767px) {
      .contactsWrapper .rightColumn {
        float: none;
        width: 100%; }
        .contactsWrapper .rightColumn #contactsMap {
          background: none; }
          .contactsWrapper .rightColumn #contactsMap iframe {
            width: 100% !important;
            height: 320px !important; } }
  .contactsWrapper .contactsItem {
    margin-bottom: 40px;
    -webkit-transition: color 0.3s ease-in-out 0s;
    -moz-transition: color 0.3s ease-in-out 0s;
    transition: color 0.3s ease-in-out 0s; }
    .contactsWrapper .contactsItem:hover {
      cursor: pointer;
      color: #c49a6c; }
    .contactsWrapper .contactsItem.active {
      color: #c49a6c; }
    .contactsWrapper .contactsItem h2 {
      margin-bottom: 15px;
      line-height: 1.4; }
    .contactsWrapper .contactsItem .content {
      line-height: 1.6;
      font-size: 12px; }

@media (min-width: 768px) and (max-width: 1050px) {
  .contactsWrapper h1 {
    margin: 40px 0 40px; }
  .contactsWrapper .rightColumn {
    float: none;
    width: 100%; }
    .contactsWrapper .rightColumn #contactsMap {
      padding: 0; }
      .contactsWrapper .rightColumn #contactsMap iframe {
        width: 688px !important;
        height: 688px !important; }
  .contactsWrapper .leftColumn {
    float: none;
    width: 100%; }
    .contactsWrapper .leftColumn .contactsItem {
      float: left;
      width: 47%;
      margin-right: 6%; }
  .contactsWrapper .leftColumn .contactsItem:nth-child(2n) {
    margin-right: 0; } }

/*# sourceMappingURL=contacts.css.map */
