@charset "UTF-8";
@import '../../../../../../css/base/_placeholders.scss';
@import '../../../../../../css/base/_variables.scss';

@import 'alternate/simplePage-main-page.scss';
@import 'alternate/simplePage-company.scss';
@import 'alternate/simplePage-mission.scss';
@import 'alternate/simplePage-history.scss';
@import 'alternate/simplePage-production-process.scss';
@import 'alternate/simplePage-culture-centre.scss';
@import 'alternate/simplePage-culture-centre-description.scss';
@import 'alternate/simplePage-tours.scss';
@import 'alternate/simplePage-degustation.scss';
@import 'alternate/simplePage-wineyards.scss';
@import 'alternate/simplePage-wine-map.scss';
@import 'alternate/simplePage-shabo-club.scss';
@import 'alternate/simplePage-export-markets.scss';

.tileItem {
	overflow: hidden;
	position: relative;
	opacity: 1;
	@include transition(opacity 150ms ease-in-out 0s);

	.tileBg {
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		@extend %bg-image-cover;
		z-index: -1;
		@include transition(transform 300ms ease-in-out 0s);
	}

	.transparentBordered {
		@include transition(all 150ms ease-in-out 0s);
	}

	&:hover {
		cursor: pointer;

		.transparentBordered {
			background: #FFFFFF;
			border: 2px solid #ffffff !important;
		}

		h1 {
			color: #ffffff !important;
		}

		.tileBg {
			-khtml-opacity: 0.8;
			opacity: 0.8;
			@include transform(scale(1.05));
		}
	}

	@media (min-width: 320px) and (max-width: 767px) {
		height: 165px;
		float: none;
		width: 100%;
	}
}

.parallax-mirror {
	visibility: visible !important;
}