.faqsWrapper .image {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center; }

.faqsWrapper {
  color: #ffffff;
  font-size: 12px; }
  .faqsWrapper .image {
    width: 100%;
    height: 357px; }
    @media (min-width: 320px) and (max-width: 767px) {
      .faqsWrapper .image {
        height: 210px; } }
  .faqsWrapper h1 {
    font-size: 28px;
    margin: 35px 0 55px;
    color: #515151; }
    @media (min-width: 320px) and (max-width: 767px) {
      .faqsWrapper h1 {
        padding: 0 30px; } }
  @media (min-width: 320px) and (max-width: 767px) {
    .faqsWrapper .faqsList {
      padding: 0 30px; } }
  .faqsWrapper .faqsList .faqItem {
    margin-bottom: 20px; }
  .faqsWrapper .faqsList h3 {
    font-size: 20px;
    margin-bottom: 15px; }
  .faqsWrapper .faqsList .toggleCollapse {
    -webkit-transition: color 0.3s linear 0s;
    -moz-transition: color 0.3s linear 0s;
    transition: color 0.3s linear 0s;
    color: #515151; }
    .faqsWrapper .faqsList .toggleCollapse:hover {
      cursor: pointer;
      color: #c49a6c; }
    .faqsWrapper .faqsList .toggleCollapse.visible {
      color: #c49a6c; }
    .faqsWrapper .faqsList .toggleCollapse span {
      -webkit-transition: -webkit-transform 0.3s linear 0s;
      -moz-transition: -moz-transform 0.3s linear 0s;
      transition: transform 0.3s linear 0s;
      display: inline-block;
      margin-left: 10px; }
    .faqsWrapper .faqsList .toggleCollapse.visible span {
      -webkit-transform: rotate(180deg);
      -moz-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
      -o-transform: rotate(180deg);
      transform: rotate(180deg); }
  .faqsWrapper .faqsList .content {
    display: none;
    line-height: 1.8;
    padding: 10px 50px;
    width: 55%;
    color: #515151; }
    @media (min-width: 320px) and (max-width: 767px) {
      .faqsWrapper .faqsList .content {
        width: 90%; } }
  .faqsWrapper .loadMoreFaqsWrapper {
    display: none; }
  .faqsWrapper .buttons {
    margin: 77px 0 0 0;
    text-align: center; }
  .faqsWrapper .transparentBordered {
    font-size: 16px;
    padding: 3px 9px;
    border: 2px solid #ffffff;
    color: #ffffff;
    margin: 0 15px;
    -webkit-transition: all 0.2s ease-in-out 0s;
    -moz-transition: all 0.2s ease-in-out 0s;
    transition: all 0.2s ease-in-out 0s; }
    .faqsWrapper .transparentBordered:hover {
      cursor: pointer;
      background: #ffffff;
      color: #000000;
      border-color: #000000; }

@media (min-width: 768px) and (max-width: 1050px) {
  .faqsWrapper .faqsList .content {
    width: 85%; } }

/*# sourceMappingURL=faqs.css.map */
