@charset "UTF-8";
@import '../../../../../../../css/base/_placeholders.scss';
@import '../../../../../../../css/base/_variables.scss';
@import '../../../../../../../css/base/_sprites.scss';

.expertColumnsWrapper {
	color: #ffffff;

	@media (min-width: 320px) and (max-width: 767px) {
		margin-bottom: 40px;
	}

	.expertColumnsLogo {
		width: 100%;
		height: 357px;
		@extend %bg-image-cover;
		background-image: url('#{$imgPath}expertsLogo.jpg');
		margin-bottom: 35px;

		@media (min-width: 320px) and (max-width: 767px) {
			height: 210px;
		}
	}

	h1 {
		font-size: 26px;
		margin-bottom: 50px;

		@media (min-width: 320px) and (max-width: 767px) {
			padding: 0 25px;

		}
	}

	.expertColumnsList {

		@media (min-width: 320px) and (max-width: 767px) {
			padding: 0 25px;
		}

		.expertColumnItem {

			position: relative;
			float: left;
			width: 30%;
			margin-right: 5%;

			@media (min-width: 320px) and (max-width: 767px) {
				width: 100%;
				margin-right: 0;
				float: none;
				margin-bottom: 40px;
			}

			&:hover {
				cursor: pointer;

				h4, .columnText {
					text-decoration: underline;
				}
			}

			.columnImage {
				position: relative;
				width: 100%;
				@extend %bg-image-cover;
				height: 210px;
				margin-bottom: 10px;
			}

			.columnContent {

				h3 {
					margin-bottom: 10px;
					color: #c49a6c;
				}
				h4 {
					margin-bottom: 10px;
				}

				.columnText {
					font-size: 12px;
					line-height: 1.6;
					margin-bottom: 25px;
				}

				.columnContentBottom {
					font-size: 12px;
					color: #808080;
				}
			}
		}

		& .expertColumnItem:nth-child(3n) {
			margin-right: 0;

			&:after {
				content: '';
				display: block;
				clear: both;
			}
		}

		.buttons {
			margin: 70px 0;
			text-align: center;
			display: none;

		}

	}

	.buttons {
		margin: 0 0 0 0;
		text-align: center;
	}

	.transparentBordered {
		font-size: 16px;
		padding: 3px 9px;
		color: #ffffff;
		margin: 0 15px;
		@include transition (all 0.2s ease-in-out 0s);

		&:hover {
			cursor: pointer;
			color: #c49a6c;
			text-decoration: underline;
		}
	}

	.expertsList {
		margin: 50px 0;

		.expertsListWrap {
			@media (min-width: 320px) and (max-width: 767px) {
				padding: 0 25px;
			}
		}

		.expertItem {

			position: relative;
			float: left;
			width: 30%;
			margin-right: 5%;

			@media (min-width: 320px) and (max-width: 767px) {
				width: 47.5%;
			}

			&:hover {
				cursor: pointer;

				h3, .expertText {
					text-decoration: underline;
				}
			}

			.expertImage {
				position: relative;
				width: 100%;
				@extend %bg-image-cover;
				height: 210px;
				margin-bottom: 10px;
			}

			.expertContent {

				h3 {
					margin-bottom: 10px;
					color: #c49a6c;
				}

				.expertText {
					font-size: 12px;
					line-height: 1.6;
					margin-bottom: 25px;
				}
			}
		}

		@media (min-width: 768px) {
			& .expertItem:nth-child(3n) {
				margin-right: 0;

				&:after {
					content: '';
					display: block;
					clear: both;
				}
			}
		}

		@media (min-width: 320px) and (max-width: 767px) {
			& .expertItem:nth-child(2n) {
				margin-right: 0;

				&:after {
					content: '';
					display: block;
					clear: both;
				}
			}
		}
	}

	.askExpertWrapper {
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: 1;

		.askExpertBackground {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background: rgba(0, 0, 0, 0.5);
		}

		.closeAskExpertBtn {
			position: absolute;
			top: 15px;
			right: 15px;
			width: 19px;
			height: 19px;
			opacity: 0.8;
			@include transition(opacity 150ms ease-in-out 0s);

			&:hover {
				cursor: pointer;
				opacity: 1;
			}
		}

		.askExpertFormWrap, .askExpertErrorWrap {
			position: absolute;
			width: 610px;
			background: #000;
			left: 50%;
			top: 50%;
			margin-top: -154px;
			margin-left: -305px;
			color: #FFFFFF;
			padding: 35px 125px;
			text-align: center;
			box-shadow: 0 0 50px 20px rgba(60, 60, 60, 0.75);
			@include transition(box-shadow 150ms ease-in-out 0s);

			.askExpertForm {
				width: 100%;

				textarea {
					background: none;
					border: 2px solid #ffffff;
					color: #ffffff;
					font-size: 16px;
					text-transform: uppercase;
					text-align: center;
					padding: 7px;
					margin-bottom: 24px;
					width: 100%;
				}

				.transparentBordered {
					padding: 3px 25px;
				}
			}

			.content {
				margin-bottom: 50px;
			}
		}
	}
}

@media (min-width: 768px) and (max-width: 1050px) {

	.expertColumnsWrapper {

		.expertColumnsLogo {
			height: 285px;
		}

		.expertColumnsList {

			.expertColumnItem {

				width: 47%;
				margin-bottom: 50px;
			}
		}

		.expertColumnsList .expertColumnItem:nth-child(3n) {
			margin-right: 6%;
		}
		.expertColumnsList .expertColumnItem:nth-child(2n) {
			margin-right: 0;

			&:after {
				content: '';
				display: block;
				position: relative;
				clear: both;
			}
		}

		.expertsList {

			.expertItem {
				width: 47%;
				margin-bottom: 50px;

				.expertImage {
					height: 164px;
				}
			}

			& .expertItem:nth-child(3n) {
				margin-right: 6%;
			}
			& .expertItem:nth-child(2n) {
				margin-right: 0;

				&:after {
					content: '';
					display: block;
					position: relative;
					clear: both;
				}
			}
		}
	}
}