@charset "UTF-8";
@import '../../../../../../../css/base/_placeholders.scss';
@import '../../../../../../../css/base/_variables.scss';

$itemPLeft: 18px;
$itemPTop: 24px;
$margin: 5%;

.newsImage {
	width: 100%;
	height: 357px;
	margin-bottom: $margin;
	@extend %bg-image-cover;

	@media (min-width: 320px) and (max-width: 767px) {
		height: 180px;
		margin-bottom: 40px;
	}
}

.news {
	position: relative;
	width: 100%;

	@media (min-width: 320px) and (max-width: 767px) {
		padding: 0 30px;
		margin-bottom: 40px;
	}

	.newsItem {
		position: relative;
		margin: 0 $margin $margin 0;
		float: left;
		width: 30%;
		color: #ffffff;

		@media (min-width: 320px) and (max-width: 767px) {
			float: none;
			width: 100%;
			margin: 0 0 40px 0;
		}

		&:hover {
			cursor: pointer;
		}

		.image {
			@extend %bg-image-cover;
			position: relative;
			width: 100%;
			height: 209px;
		}

		.text {
			margin-top: 10px;
			width: 85%;
		}
		h1 {
			font-size: 16px;
			line-height: 1.2;
			margin-bottom: 12px;
		}
		.content {
			$fontSize: 12px;
			$lineHeight: 1.5;
			$linesToShow: 6;

			font-size: 12px;
			line-height: $lineHeight;
			overflow: hidden;
			position: relative;
			height: $fontSize*$lineHeight*$linesToShow; /* Fallback for non-webkit */
		}

		.info {
			margin-top: 10px;
			color: #808080;
			font-size: 12px;
			line-height: 1.5;

			.date {
				float: left;
			}
			.comments {
				float: left;
				margin-left: 20px;
			}
		}

		button.learnMore {
			display: none;
			float: right;
		}
	}

	@media (min-width: 1051px) {
		.newsItem:nth-child(3n+1) {
			clear: both;
		}
	}

	.buttons {
		margin: 0 0 0 0;
		text-align: center;
	}

	.transparentBordered {
		font-size: 16px;
		padding: 3px 9px;
		border: none;
		color: #ffffff;
		margin: 0 15px;

		&:hover {
			cursor: pointer;
			color: #c49a6c;
			text-decoration: underline;
		}
	}

	.moreNews {

	}
}

/*.news .newsItem:first-child {
	width: $siteWidth;
	height: 355px;
	padding: $itemPTop $itemPLeft;
	position: relative;
	margin: 0 0 $margin 0;
	float: none;

	.image {
		position: absolute;
		width: $siteWidth;
		height: 355px;
		top: 0;
		left: 0;

	}
	.text {
		position: absolute;
		bottom: $itemPTop;
	}
	h1 {
		font-size: 26px;
		text-transform: uppercase;
		width: 660px;
		line-height: 1.2;
		margin-bottom: 9px;
	}
	.content {
		width: 660px;
		height: auto;
		line-height: 1.2;
		float: left;
		font-size: 16px;
	}

	button.learnMore {
		display: block;
		position: absolute;
		right: $itemPLeft;
		bottom: $itemPTop - 8px;
		padding: 3px 11px;
		font-size: 16px;

		&:hover {
			cursor: pointer;
		}
	}
}*/

@media (min-width: 1051px) {
	.news .newsItem:nth-child(3n) {
		margin: 0 0 $margin 0;

		&:after {
			content: '';
			display: block;
			position: relative;
			clear: both;
		}
	}
}


@media (min-width: 768px) and (max-width: 1050px) {

	.news {

		.newsItem {
			width: 325px;
			margin: 0 38px 30px 0;
		}
	}

/*	.news .newsItem:first-child {
		width: 100%;
		height: 285px;
		margin-bottom: 40px;

		.image {
			height: 100%;
			width: 100%;
		}

		.content {
			float: none;
			width: 100%;
		}

		h1 {
			width: 590px;
		}

		.text {
			bottom: 50px;
		}

		button.learnMore {
			right: 35px;
			bottom: 8px;
		}
	}*/

	.news .newsItem:nth-child(2n) {
		margin: 0 0 30px 0;

		&:after {
			content: '';
			display: block;
			position: relative;
			clear: both;
		}
	}
}