.advices .advice .logo, .newsImage, .news .newsItem .image, .expertColumnsWrapper .expertColumnsLogo, .expertColumnsWrapper .expertColumnsList .expertColumnItem .columnImage, .expertColumnsWrapper .expertsList .expertItem .expertImage {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center; }

.advices .advice .logo, .newsImage, .news .newsItem .image, .expertColumnsWrapper .expertColumnsLogo, .expertColumnsWrapper .expertColumnsList .expertColumnItem .columnImage, .expertColumnsWrapper .expertsList .expertItem .expertImage {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center; }

@media (min-width: 320px) and (max-width: 767px) {
  .advicesWrap {
    padding: 0 30px; } }

.advices .advice {
  height: 550px;
  width: 100%;
  color: #ffffff;
  position: relative; }
  @media (min-width: 320px) and (max-width: 767px) {
    .advices .advice {
      height: auto; } }
  .advices .advice .logo {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1; }
    @media (min-width: 320px) and (max-width: 767px) {
      .advices .advice .logo {
        position: relative;
        height: 335px; } }
  .advices .advice .adviceText {
    position: absolute;
    width: 540px;
    top: 108px;
    left: 400px; }
    @media (min-width: 320px) and (max-width: 767px) {
      .advices .advice .adviceText {
        position: relative;
        width: auto;
        top: 0;
        left: 0; } }
    .advices .advice .adviceText h1 {
      font-size: 24px;
      margin-bottom: 10px; }
      @media (min-width: 320px) and (max-width: 767px) {
        .advices .advice .adviceText h1 {
          margin: 35px 0; } }
    .advices .advice .adviceText .content {
      font-size: 16px;
      line-height: 21px; }

.bx-pager.bx-default-pager a {
  background: #ffffff; }
  .bx-pager.bx-default-pager a:hover, .bx-pager.bx-default-pager a.active {
    background: #c49a6c; }

.bx-prev {
  left: 0;
  background-image: url(/img/sliderNext.png);
  background-repeat: no-repeat;
  background-position: center;
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg); }
  .bx-prev:hover {
    background-color: rgba(0, 0, 0, 0.5); }

.bx-next {
  right: 0;
  background-image: url(/img/sliderNext.png);
  background-repeat: no-repeat;
  background-position: center; }
  .bx-next:hover {
    background-color: rgba(0, 0, 0, 0.5); }

@media (min-width: 768px) and (max-width: 1050px) {
  .advices .advice .adviceText {
    width: 335px;
    left: 297px; } }
.advices .advice .logo, .newsImage, .news .newsItem .image, .expertColumnsWrapper .expertColumnsLogo, .expertColumnsWrapper .expertColumnsList .expertColumnItem .columnImage, .expertColumnsWrapper .expertsList .expertItem .expertImage {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center; }

.newsImage {
  width: 100%;
  height: 357px;
  margin-bottom: 5%; }
  @media (min-width: 320px) and (max-width: 767px) {
    .newsImage {
      height: 180px;
      margin-bottom: 40px; } }

.news {
  position: relative;
  width: 100%; }
  @media (min-width: 320px) and (max-width: 767px) {
    .news {
      padding: 0 30px;
      margin-bottom: 40px; } }
  .news .newsItem {
    position: relative;
    margin: 0 5% 5% 0;
    float: left;
    width: 30%;
    color: #ffffff; }
    @media (min-width: 320px) and (max-width: 767px) {
      .news .newsItem {
        float: none;
        width: 100%;
        margin: 0 0 40px 0; } }
    .news .newsItem:hover {
      cursor: pointer; }
    .news .newsItem .image {
      position: relative;
      width: 100%;
      height: 209px; }
    .news .newsItem .text {
      margin-top: 10px;
      width: 85%; }
    .news .newsItem h1 {
      font-size: 16px;
      line-height: 1.2;
      margin-bottom: 12px; }
    .news .newsItem .content {
      font-size: 12px;
      line-height: 1.5;
      overflow: hidden;
      position: relative;
      height: 108px;
      /* Fallback for non-webkit */ }
    .news .newsItem .info {
      margin-top: 10px;
      color: #808080;
      font-size: 12px;
      line-height: 1.5; }
      .news .newsItem .info .date {
        float: left; }
      .news .newsItem .info .comments {
        float: left;
        margin-left: 20px; }
    .news .newsItem button.learnMore {
      display: none;
      float: right; }
  @media (min-width: 1051px) {
    .news .newsItem:nth-child(3n+1) {
      clear: both; } }
  .news .buttons {
    margin: 0 0 0 0;
    text-align: center; }
  .news .transparentBordered {
    font-size: 16px;
    padding: 3px 9px;
    border: none;
    color: #ffffff;
    margin: 0 15px; }
    .news .transparentBordered:hover {
      cursor: pointer;
      color: #c49a6c;
      text-decoration: underline; }

/*.news .newsItem:first-child {
	width: $siteWidth;
	height: 355px;
	padding: $itemPTop $itemPLeft;
	position: relative;
	margin: 0 0 $margin 0;
	float: none;

	.image {
		position: absolute;
		width: $siteWidth;
		height: 355px;
		top: 0;
		left: 0;

	}
	.text {
		position: absolute;
		bottom: $itemPTop;
	}
	h1 {
		font-size: 26px;
		text-transform: uppercase;
		width: 660px;
		line-height: 1.2;
		margin-bottom: 9px;
	}
	.content {
		width: 660px;
		height: auto;
		line-height: 1.2;
		float: left;
		font-size: 16px;
	}

	button.learnMore {
		display: block;
		position: absolute;
		right: $itemPLeft;
		bottom: $itemPTop - 8px;
		padding: 3px 11px;
		font-size: 16px;

		&:hover {
			cursor: pointer;
		}
	}
}*/
@media (min-width: 1051px) {
  .news .newsItem:nth-child(3n) {
    margin: 0 0 5% 0; }
    .news .newsItem:nth-child(3n):after {
      content: '';
      display: block;
      position: relative;
      clear: both; } }
@media (min-width: 768px) and (max-width: 1050px) {
  .news .newsItem {
    width: 325px;
    margin: 0 38px 30px 0; }

  /*	.news .newsItem:first-child {
  		width: 100%;
  		height: 285px;
  		margin-bottom: 40px;
  
  		.image {
  			height: 100%;
  			width: 100%;
  		}
  
  		.content {
  			float: none;
  			width: 100%;
  		}
  
  		h1 {
  			width: 590px;
  		}
  
  		.text {
  			bottom: 50px;
  		}
  
  		button.learnMore {
  			right: 35px;
  			bottom: 8px;
  		}
  	}*/
  .news .newsItem:nth-child(2n) {
    margin: 0 0 30px 0; }
    .news .newsItem:nth-child(2n):after {
      content: '';
      display: block;
      position: relative;
      clear: both; } }
.advices .advice .logo, .newsImage, .news .newsItem .image, .expertColumnsWrapper .expertColumnsLogo, .expertColumnsWrapper .expertColumnsList .expertColumnItem .columnImage, .expertColumnsWrapper .expertsList .expertItem .expertImage {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center; }

/*
SCSS variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: $icon-home-width;
}

The large array-like variables contain all information about a single icon
$icon-home: x y offset_x offset_y width height total_width total_height image_path;
*/
/*
The provided mixins are intended to be used with the array-like variables

.icon-home {
  @include sprite-width($icon-home);
}

.icon-email {
  @include sprite($icon-email);
}
*/
.expertColumnsWrapper {
  color: #ffffff; }
  @media (min-width: 320px) and (max-width: 767px) {
    .expertColumnsWrapper {
      margin-bottom: 40px; } }
  .expertColumnsWrapper .expertColumnsLogo {
    width: 100%;
    height: 357px;
    background-image: url("/img/expertsLogo.jpg");
    margin-bottom: 35px; }
    @media (min-width: 320px) and (max-width: 767px) {
      .expertColumnsWrapper .expertColumnsLogo {
        height: 210px; } }
  .expertColumnsWrapper h1 {
    font-size: 26px;
    margin-bottom: 50px; }
    @media (min-width: 320px) and (max-width: 767px) {
      .expertColumnsWrapper h1 {
        padding: 0 25px; } }
  @media (min-width: 320px) and (max-width: 767px) {
    .expertColumnsWrapper .expertColumnsList {
      padding: 0 25px; } }
  .expertColumnsWrapper .expertColumnsList .expertColumnItem {
    position: relative;
    float: left;
    width: 30%;
    margin-right: 5%; }
    @media (min-width: 320px) and (max-width: 767px) {
      .expertColumnsWrapper .expertColumnsList .expertColumnItem {
        width: 100%;
        margin-right: 0;
        float: none;
        margin-bottom: 40px; } }
    .expertColumnsWrapper .expertColumnsList .expertColumnItem:hover {
      cursor: pointer; }
      .expertColumnsWrapper .expertColumnsList .expertColumnItem:hover h4, .expertColumnsWrapper .expertColumnsList .expertColumnItem:hover .columnText {
        text-decoration: underline; }
    .expertColumnsWrapper .expertColumnsList .expertColumnItem .columnImage {
      position: relative;
      width: 100%;
      height: 210px;
      margin-bottom: 10px; }
    .expertColumnsWrapper .expertColumnsList .expertColumnItem .columnContent h3 {
      margin-bottom: 10px;
      color: #c49a6c; }
    .expertColumnsWrapper .expertColumnsList .expertColumnItem .columnContent h4 {
      margin-bottom: 10px; }
    .expertColumnsWrapper .expertColumnsList .expertColumnItem .columnContent .columnText {
      font-size: 12px;
      line-height: 1.6;
      margin-bottom: 25px; }
    .expertColumnsWrapper .expertColumnsList .expertColumnItem .columnContent .columnContentBottom {
      font-size: 12px;
      color: #808080; }
  .expertColumnsWrapper .expertColumnsList .expertColumnItem:nth-child(3n) {
    margin-right: 0; }
    .expertColumnsWrapper .expertColumnsList .expertColumnItem:nth-child(3n):after {
      content: '';
      display: block;
      clear: both; }
  .expertColumnsWrapper .expertColumnsList .buttons {
    margin: 70px 0;
    text-align: center;
    display: none; }
  .expertColumnsWrapper .buttons {
    margin: 0 0 0 0;
    text-align: center; }
  .expertColumnsWrapper .transparentBordered {
    font-size: 16px;
    padding: 3px 9px;
    color: #ffffff;
    margin: 0 15px;
    -webkit-transition: all 0.2s ease-in-out 0s;
    -moz-transition: all 0.2s ease-in-out 0s;
    transition: all 0.2s ease-in-out 0s; }
    .expertColumnsWrapper .transparentBordered:hover {
      cursor: pointer;
      color: #c49a6c;
      text-decoration: underline; }
  .expertColumnsWrapper .expertsList {
    margin: 50px 0; }
    @media (min-width: 320px) and (max-width: 767px) {
      .expertColumnsWrapper .expertsList .expertsListWrap {
        padding: 0 25px; } }
    .expertColumnsWrapper .expertsList .expertItem {
      position: relative;
      float: left;
      width: 30%;
      margin-right: 5%; }
      @media (min-width: 320px) and (max-width: 767px) {
        .expertColumnsWrapper .expertsList .expertItem {
          width: 47.5%; } }
      .expertColumnsWrapper .expertsList .expertItem:hover {
        cursor: pointer; }
        .expertColumnsWrapper .expertsList .expertItem:hover h3, .expertColumnsWrapper .expertsList .expertItem:hover .expertText {
          text-decoration: underline; }
      .expertColumnsWrapper .expertsList .expertItem .expertImage {
        position: relative;
        width: 100%;
        height: 210px;
        margin-bottom: 10px; }
      .expertColumnsWrapper .expertsList .expertItem .expertContent h3 {
        margin-bottom: 10px;
        color: #c49a6c; }
      .expertColumnsWrapper .expertsList .expertItem .expertContent .expertText {
        font-size: 12px;
        line-height: 1.6;
        margin-bottom: 25px; }
    @media (min-width: 768px) {
      .expertColumnsWrapper .expertsList .expertItem:nth-child(3n) {
        margin-right: 0; }
        .expertColumnsWrapper .expertsList .expertItem:nth-child(3n):after {
          content: '';
          display: block;
          clear: both; } }
    @media (min-width: 320px) and (max-width: 767px) {
      .expertColumnsWrapper .expertsList .expertItem:nth-child(2n) {
        margin-right: 0; }
        .expertColumnsWrapper .expertsList .expertItem:nth-child(2n):after {
          content: '';
          display: block;
          clear: both; } }
  .expertColumnsWrapper .askExpertWrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1; }
    .expertColumnsWrapper .askExpertWrapper .askExpertBackground {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgba(0, 0, 0, 0.5); }
    .expertColumnsWrapper .askExpertWrapper .closeAskExpertBtn {
      position: absolute;
      top: 15px;
      right: 15px;
      width: 19px;
      height: 19px;
      opacity: 0.8;
      -webkit-transition: opacity 150ms ease-in-out 0s;
      -moz-transition: opacity 150ms ease-in-out 0s;
      transition: opacity 150ms ease-in-out 0s; }
      .expertColumnsWrapper .askExpertWrapper .closeAskExpertBtn:hover {
        cursor: pointer;
        opacity: 1; }
    .expertColumnsWrapper .askExpertWrapper .askExpertFormWrap, .expertColumnsWrapper .askExpertWrapper .askExpertErrorWrap {
      position: absolute;
      width: 610px;
      background: #000;
      left: 50%;
      top: 50%;
      margin-top: -154px;
      margin-left: -305px;
      color: #FFFFFF;
      padding: 35px 125px;
      text-align: center;
      box-shadow: 0 0 50px 20px rgba(60, 60, 60, 0.75);
      -webkit-transition: box-shadow 150ms ease-in-out 0s;
      -moz-transition: box-shadow 150ms ease-in-out 0s;
      transition: box-shadow 150ms ease-in-out 0s; }
      .expertColumnsWrapper .askExpertWrapper .askExpertFormWrap .askExpertForm, .expertColumnsWrapper .askExpertWrapper .askExpertErrorWrap .askExpertForm {
        width: 100%; }
        .expertColumnsWrapper .askExpertWrapper .askExpertFormWrap .askExpertForm textarea, .expertColumnsWrapper .askExpertWrapper .askExpertErrorWrap .askExpertForm textarea {
          background: none;
          border: 2px solid #ffffff;
          color: #ffffff;
          font-size: 16px;
          text-transform: uppercase;
          text-align: center;
          padding: 7px;
          margin-bottom: 24px;
          width: 100%; }
        .expertColumnsWrapper .askExpertWrapper .askExpertFormWrap .askExpertForm .transparentBordered, .expertColumnsWrapper .askExpertWrapper .askExpertErrorWrap .askExpertForm .transparentBordered {
          padding: 3px 25px; }
      .expertColumnsWrapper .askExpertWrapper .askExpertFormWrap .content, .expertColumnsWrapper .askExpertWrapper .askExpertErrorWrap .content {
        margin-bottom: 50px; }

@media (min-width: 768px) and (max-width: 1050px) {
  .expertColumnsWrapper .expertColumnsLogo {
    height: 285px; }
  .expertColumnsWrapper .expertColumnsList .expertColumnItem {
    width: 47%;
    margin-bottom: 50px; }
  .expertColumnsWrapper .expertColumnsList .expertColumnItem:nth-child(3n) {
    margin-right: 6%; }
  .expertColumnsWrapper .expertColumnsList .expertColumnItem:nth-child(2n) {
    margin-right: 0; }
    .expertColumnsWrapper .expertColumnsList .expertColumnItem:nth-child(2n):after {
      content: '';
      display: block;
      position: relative;
      clear: both; }
  .expertColumnsWrapper .expertsList .expertItem {
    width: 47%;
    margin-bottom: 50px; }
    .expertColumnsWrapper .expertsList .expertItem .expertImage {
      height: 164px; }
  .expertColumnsWrapper .expertsList .expertItem:nth-child(3n) {
    margin-right: 6%; }
  .expertColumnsWrapper .expertsList .expertItem:nth-child(2n) {
    margin-right: 0; }
    .expertColumnsWrapper .expertsList .expertItem:nth-child(2n):after {
      content: '';
      display: block;
      position: relative;
      clear: both; } }

/*# sourceMappingURL=articles.css.map */
